<script setup lang="ts">
import { ref, onMounted, computed } from "vue";
import { useAtdStore } from "@/stores/attendance";
import { mdiCashMultiple, mdiRecord, mdiFloppy } from "@mdi/js";
const searchValue = ref("");
const selectType = ref("All");
const attendanceStore = useAtdStore();
const recordMessage = ref("start record");
const recordColour = ref("green");

const saveWageRate = () => {
  localStorage.setItem("wageRate", JSON.stringify(attendanceStore.wageRate));
};

const openAttendanceDetailsDialog = async (id: number) => {
  attendanceStore.searchId = id;
  await attendanceStore.getAttendanceReportById(attendanceStore.searchId);
  attendanceStore.attendanceDetailsDialog = true;
};

const startRecord = async () => {
  localStorage.setItem("recordStatus", JSON.stringify("recording"));
  localStorage.setItem(
    "recordAttendanceReportDate",
    JSON.stringify(attendanceStore.getCurrentDateTime())
  );
  attendanceStore.editedAttendaceReport.payDate =
    attendanceStore.getCurrentDateTime();
  await attendanceStore.saveAttendanceReport();
  recordMessage.value = "stop record";
  recordColour.value = "red";
};

const stopRecord = () => {
  localStorage.setItem("recordStatus", JSON.stringify("not recording"));
  localStorage.removeItem("recordAttendanceReportDate");
  recordMessage.value = "start record";
  recordColour.value = "green";
};

onMounted(async () => {
  if (localStorage.getItem("wageRate")) {
    attendanceStore.wageRate = JSON.parse(localStorage.getItem("wageRate")!);
  }

  if (localStorage.getItem("recordAttendanceReportDate")) {
    attendanceStore.editedAttendaceReport.payDate = JSON.parse(
      localStorage.getItem("recordAttendanceReportDate")!
    );
  }
  const recordStatus = localStorage.getItem("recordStatus");
  const recordMsg = ref("");
  if (recordStatus) {
    recordMsg.value = JSON.parse(recordStatus);
    if (recordMsg.value == "recording") {
      recordMessage.value = "stop record";
      recordColour.value = "red";
    } else {
      recordMessage.value = "start record";
      recordColour.value = "green";
    }
  }
  await attendanceStore.getAttendaceDetails();
  await attendanceStore.getAttendanceReports();
});

const sortedAttendanceDetails = computed(() => {
  if (searchValue.value.trim().length > 0) {
    return attendanceStore.attendanceDetails.filter(
      (item) =>
        item.id!.toString().includes(searchValue.value.trim()) ||
        item.employee.id!.toString().includes(searchValue.value.trim()) ||
        item.workStart.includes(searchValue.value.trim()) ||
        item.workOff.includes(searchValue.value.trim()) ||
        item.wage.toString().includes(searchValue.value.trim()) ||
        item.status.includes(searchValue.value.trim())
    );
  }
  if (selectType.value != "All") {
    return attendanceStore.attendanceDetails.filter(
      (item) => item.status == selectType.value
    );
  }
  return attendanceStore.attendanceDetails;
});
</script>

<template>
  <v-container class="ma-6">
    <v-row
      ><v-icon
        :icon="mdiCashMultiple"
        size="x-large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Attendance Management</h1></v-row
    >
  </v-container>
  <v-card class="card-frame" height="594px">
    <v-row class="card-row" align="center" no-gutters>
      <v-col cols="9" class="text-left">
        <v-sheet>
          <v-btn
            class="add-btn"
            :color="recordColour"
            :prepend-icon="mdiRecord"
            @click="
              recordMessage == 'start record' ? startRecord() : stopRecord()
            "
            >{{ recordMessage }}</v-btn
          >
        </v-sheet></v-col
      >
      <v-col cols="3" class="text-right">
        <v-sheet>
          <v-tooltip location="bottom" text="Change wage rate per hours">
            <template v-slot:activator="{ props }">
              <v-text-field
                v-bind="props"
                v-model.number="attendanceStore.wageRate"
                class="text-end search-field"
                density="compact"
                variant="solo"
                :label="attendanceStore.wageRate.toString()"
                :append-inner-icon="mdiFloppy"
                single-line
                hide-details
              >
                <template v-slot:append-inner>
                  <v-icon @click="saveWageRate()"></v-icon>
                </template>
              </v-text-field>
            </template>
          </v-tooltip>
        </v-sheet>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-table class="table" fixed-header height="500" hover>
      <thead>
        <tr>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Attendance reports
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Total
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          ></th>
        </tr>
      </thead>
      <tbody v-if="attendanceStore.attendanceReports.length">
        <tr
          class="text-center"
          v-for="item of attendanceStore.attendanceReports"
          :key="item.id"
        >
          <td>
            <v-icon
              v-if="
                attendanceStore.getCurrentDateTime() == item.payDate &&
                recordMessage == 'stop record'
              "
              :icon="mdiRecord"
              style="color: red"
              class="icon-fade"
            ></v-icon>
            Attendance report of
            {{ item.payDate }}
          </td>
          <td>{{ item.total }}</td>
          <td>
            <v-btn
              variant="text"
              id="edit-btn"
              size="x-large"
              color="green"
              class="font-weight-bold text-subtitle-1"
              style="width: 60%"
              @click="openAttendanceDetailsDialog(item.id!)"
            >
              view details
            </v-btn>
          </td>
          <!-- <td>{{ item.id }}</td>
          <td>{{ item.employee.id }}</td>
          <td>{{ item.employee.name }}</td>
          <td>{{ item.workStart }}</td>
          <td>{{ item.workOff }}</td>
          <td>{{ item.wage }}</td>
          <td class="pa-5 justify-end">
            <v-btn
              id="edit-btn"
              size="x-large"
              color="warning"
              variant="outlined"
              class="font-weight-bold text-subtitle-1"
              v-show="item.status === 'Waiting'"
              style="width: 60%"
              @click="
                attendanceStore.setEditedAttendaceDetail(
                  JSON.parse(JSON.stringify(item)),
                  'Paided'
                )
              "
            >
              {{ item.status }}
            </v-btn>
            <v-btn
              id="edit-btn"
              color="green"
              variant="tonal"
              size="x-large"
              class="font-weight-bold ma-1 text-subtitle-1 pa-2"
              v-show="item.status === 'Paided'"
              style="width: 60%"
            >
              {{ item.status }}
            </v-btn>
          </td> -->
        </tr>
      </tbody>
      <tbody v-else>
        <tr height="400px">
          <td colspan="9" class="text-center font-weight-bold text-h4">
            No attendance reports found
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
.icon-fade {
  animation: fade-in-out 2s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

.card-frame {
  padding: 10px;
  height: max-content;
}
.edit-btn,
.del-btn,
.update-btn {
  margin-right: 10px;
}
.add-btn {
  width: 200px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}
.search-field {
  width: 250px;
}
</style>
