<script setup lang="ts">
import { useAtdStore } from "@/stores/attendance";
import { mdiMagnify, mdiCashMultiple } from "@mdi/js";
import { onMounted, ref } from "vue";

const attendanceStore = useAtdStore();

const closeDialog = () => {
  attendanceStore.attendanceDetailsDialog = false;
};

onMounted(async () => {
  attendanceStore.selectedAttendanceReport =
    attendanceStore.attendanceReportById.attendanceDetails!;
});
</script>

<template>
  <v-dialog
    v-model="attendanceStore.attendanceDetailsDialog"
    persistent
    width="auto"
  >
    <v-card class="card-frame" height="600px">
      <v-table class="table" fixed-header height="540" hover>
        <thead>
          <tr>
            <th
              class="text-center font-weight-bold text-subtitle-1"
              style="background-color: darkgray"
            >
              Attendance ID
            </th>
            <th
              class="text-center font-weight-bold text-subtitle-1"
              style="background-color: darkgray"
            >
              Employee ID
            </th>
            <th
              class="text-center font-weight-bold text-subtitle-1"
              style="background-color: darkgray"
            >
              Name
            </th>
            <th
              class="text-center font-weight-bold text-subtitle-1"
              style="background-color: darkgray"
            >
              Work Start
            </th>
            <th
              class="text-center font-weight-bold text-subtitle-1"
              style="background-color: darkgray"
            >
              Work Off
            </th>
            <th
              class="text-center font-weight-bold text-subtitle-1"
              style="background-color: darkgray"
            >
              Wage
            </th>
            <th
              class="text-center font-weight-bold text-subtitle-1"
              style="background-color: darkgray"
            >
              Status
            </th>
          </tr>
        </thead>
        <tbody v-if="attendanceStore.selectedAttendanceReport.length">
          <tr
            class="text-center"
            v-for="item of attendanceStore.selectedAttendanceReport"
            :key="item.id"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.employee.id }}</td>
            <td>{{ item.employee.name }}</td>
            <td>{{ item.workStart }}</td>
            <td>{{ item.workOff }}</td>
            <td>{{ item.wage }}</td>
            <td class="pa-5 justify-end">
              <v-btn
                id="edit-btn"
                size="x-large"
                color="warning"
                variant="outlined"
                class="font-weight-bold text-subtitle-1"
                v-show="item.status === 'Waiting'"
                style="width: 60%"
                @click="
                  attendanceStore.setEditedAttendaceDetail(
                    JSON.parse(JSON.stringify(item)),
                    'Paided'
                  ),
                    attendanceStore.getAttendanceReportById(
                      attendanceStore.searchId
                    )
                "
              >
                {{ item.status }}
              </v-btn>
              <v-btn
                id="edit-btn"
                color="green"
                variant="tonal"
                size="x-large"
                class="font-weight-bold ma-1 text-subtitle-1 pa-2"
                v-show="item.status === 'Paided'"
                style="width: 60%"
              >
                {{ item.status }}
              </v-btn>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr height="400px">
            <td colspan="9" class="text-center font-weight-bold text-h4">
              No attendance details found
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="attendanceStore.attendanceDetailsDialog = false"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style></style>
