<script lang="ts" setup>
import AttendanceList from "../DemoAttendance/AttendanceList.vue";
import AttendanceDetailsDialog from "../DemoAttendance/AttendanceDetailsDialog.vue";
</script>

<template>
  <AttendanceList />
  <AttendanceDetailsDialog />
</template>
