<script setup lang="ts">
import { useMaterialStore } from "@/stores/material";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const items = ["เนื้อสด", "ผัดสด", "เครื่องปรุง", "เครื่องดื่ม"];
const materialStore = useMaterialStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    materialStore.saveMaterial();
    // materialStore.addDialog = false;
  }
};

// const close = () => {
//   materialStore.addDialog = false;
// };
//v-model="materialStore.addDialog"
//@click="close"
</script>

<template>
  <v-row justify="center">
    <v-dialog persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">Add New Stock</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="2" class="text-size">Category</v-col>
                <v-col cols="4"
                  ><v-select
                    v-model="materialStore.editedMaterial.category"
                    selected
                    :items="items"
                    :rules="[(v) => !!v || 'Item is required']"
                    name="name"
                    density="compact"
                    variant="solo"
                  ></v-select
                ></v-col>
                <v-spacer></v-spacer>
                <v-col cols="2" class="text-size">Name:</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model="materialStore.editedMaterial.name"
                    name="name"
                    :rules="[
                      (v) => !!v || 'Name must not be null.',
                      (v) => /[^0-9]/.test(v) || 'Name must not be digit',
                    ]"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="text-size">Minimum Value:</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model="materialStore.editedMaterial.minimum"
                    name="name"
                    :rules="[(v) => !!v || 'Minimum Value must not be null.']"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
                <v-spacer></v-spacer>
                <v-col cols="2" class="text-size">On Hand</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model="materialStore.editedMaterial.onhand"
                    name="name"
                    :rules="[
                      (v) => !!v || 'Material On hand must not be null.',
                    ]"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="text-size">Unit</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model="materialStore.editedMaterial.unit"
                    name="name"
                    :rules="[
                      (v) => !!v || 'Material Unit must not be null.',
                      (v) =>
                        /[^0-9]/.test(v) || 'Material On hand not be digit',
                    ]"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text"> Close </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scope>
.text-size {
  font-size: 18px;
  font-weight: bolder;
}
</style>
