<script setup lang="ts">
import { useMaterialStore } from "@/stores/material";
import { ref } from "vue";

const materialStore = useMaterialStore();

const closeDialog = () => {
  materialStore.deleteDialog = false;
  materialStore.resetEditedMaterial();
};
</script>

<template>
  <v-dialog v-model="materialStore.deleteDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Confirm for delete material </v-card-title>
      <v-card-text>Are you sure to delete this material ?</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" variant="text" @click="closeDialog()"> No </v-btn>
        <v-btn
          color="green"
          variant="text"
          @click="materialStore.deleteMaterial"
        >
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style></style>
