<script setup lang="ts">
import StockList from "./MaterialList.vue";
import DeleteStockDialog from "./DeleteMaterialDialog.vue";
import EditStockDialog from "./MaterialDialog.vue";
import UpdateMaterialDialog from "./UpdateMaterialDialog.vue";
</script>

<template>
  <StockList />
  <EditStockDialog />
  <DeleteStockDialog />
  <UpdateMaterialDialog />
</template>
