<script setup lang="ts">
import { useMaterialStore } from "@/stores/material";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const materialStore = useMaterialStore();
const items = ["เนื้อสด", "ผัดสด", "เครื่องปรุง", "เครื่องดื่ม"];
const form = ref<VForm | null>(null);
// const delStock = (id: number): void => {
//   stockStore.deleteStock(id);
// };
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    materialStore.saveMaterial();
  }
};

const clear = () => {
  materialStore.resetEditedMaterial();
  materialStore.materialDialog = false;
};

// const save = async () => {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     stockStore.saveStock();
//   }
// };
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="materialStore.materialDialog" persistent>
      <v-card>
        <v-card-title v-if="materialStore.editedMaterial.id" class="pa-10">
          <h1>Edit Material</h1>
        </v-card-title>
        <v-card-title v-else class="pa-10">
          <h1>Add Material</h1>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="2" class="text-size">Category</v-col>
                <v-col cols="4"
                  ><v-select
                    v-model="materialStore.editedMaterial.category"
                    selected
                    :items="items"
                    density="compact"
                    variant="solo"
                  ></v-select
                ></v-col>
                <v-spacer></v-spacer>
                <v-col cols="2" class="text-size">Name:</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model="materialStore.editedMaterial.name"
                    :rules="[
                      (v) => !!v || 'Material name is required.',
                      (v) =>
                        v.length >= 2 ||
                        'Material name length must greater then or equal to 2 characters.',
                      (v) =>
                        v.length <= 64 ||
                        'Material name length must less then or equal to 64 characters.',
                      (v) =>
                        /^[\u0E00-\u0E7F -~]{2,64}$/.test(v) ||
                        'Material name can contain Thai or English alphabet, special characters, or numbers.',
                    ]"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="text-size">Minimum Value:</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model.number="materialStore.editedMaterial.minimum"
                    :rules="[
                      (v) => !!v || 'Material minimun values is required.',
                      (v) =>
                        v > 0 || 'Material minimum values cant be less than 0.',
                    ]"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
                <v-spacer></v-spacer>
                <v-col cols="2" class="text-size">On Hand</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model.number="materialStore.editedMaterial.onhand"
                    :rules="[
                      (v) => !!v || 'Material on hand values is required.',
                      (v) =>
                        v > 0 || 'Material on hand values cant be less than 0.',
                    ]"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="text-size">Unit</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model="materialStore.editedMaterial.unit"
                    :rules="[
                      (v) => !!v || 'Material unit is required.',
                      (v) =>
                        v.length >= 2 ||
                        'Material unit length must greater then or equal to 2 characters.',
                      (v) =>
                        v.length <= 32 ||
                        'Material unit length must less then or equal to 32 characters.',
                      (v) =>
                        /^[\u0E00-\u0E7F -~]{2,64}$/.test(v) ||
                        'Material unit can contain Thai or English alphabet, special characters, or numbers.',
                    ]"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style></style>
