<script setup lang="ts">
import { ref, computed, onMounted } from "vue";
import { useMaterialStore } from "@/stores/material";
import {
  mdiArchive,
  mdiPlus,
  mdiMagnify,
  mdiPencil,
  mdiDelete,
  mdiUpdate,
} from "@mdi/js";
import { useStockStore } from "@/stores/stocks";
import type Material from "@/types/Material";
import { useThemeStore } from "@/stores/theme";
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;

const searchValue = ref("");
const selectType = ref("All");
const materialStore = useMaterialStore();
const themeStore = useThemeStore();
const stockStore = useStockStore();
const generatePDF = () => {
  const docDefinition = {
    content: [
      {
        text: "Material List",
        style: "header",
      },
      "\n",
      {
        style: "tableExample",
        table: {
          headerRows: 1,
          widths: ["*", "*", "*", "*", "*", "*"],
          body: [
            [
              { text: "Material ID", style: "tableHeader" },
              { text: "Category", style: "tableHeader" },
              { text: "Name", style: "tableHeader" },
              { text: "Minimum Value", style: "tableHeader" },
              { text: "On hand", style: "tableHeader" },
              { text: "Unit", style: "tableHeader" },
            ],
            ...sortedMaterial.value.map((material) => [
              material.id,
              material.category,
              material.name,
              material.minimum,
              material.onhand,
              material.unit,
            ]),
          ],
        },
      },
    ],
    styles: {
      header: {
        fontSize: 18,
        bold: true,
        alignment: "center",
      },
      tableHeader: {
        fontSize: 14,
        bold: true,
      },
      tableExample: {
        margin: [0, 5, 0, 15],
      },
    },
  };

  pdfMake.createPdf(docDefinition).download("material_list.pdf");
};

onMounted(async () => {
  await materialStore.getMaterials();
});

const sortedMaterial = computed(() => {
  if (searchValue.value.trim().length > 0) {
    return materialStore.materials.filter(
      (item) =>
        item.id!.toString().includes(searchValue.value.trim()) ||
        item.category.includes(searchValue.value.trim()) ||
        item.name.includes(searchValue.value.trim()) ||
        item.minimum.toString().includes(searchValue.value.trim()) ||
        item.onhand.toString().includes(searchValue.value.trim()) ||
        item.unit.toString().includes(searchValue.value.trim())
    );
  }
  if (selectType.value != "All") {
    return materialStore.materials.filter(
      (item: { category: string }) => item.category == selectType.value
    );
  }
  return materialStore.materials;
});

const deleteMaterial = (item: Material) => {
  materialStore.deleteDialog = true;
  materialStore.editedMaterial = JSON.parse(JSON.stringify(item));
};

const editMaterial = (item: Material) => {
  materialStore.materialDialog = true;
  materialStore.editedMaterial = JSON.parse(JSON.stringify(item));
};

const updateMaterial = (item: Material) => {
  materialStore.oldValue = item.onhand;
  materialStore.updateDialog = true;
  materialStore.editedMaterial = JSON.parse(JSON.stringify(item));
};
</script>

<template>
  <v-container class="ma-6" :theme="themeStore.theme">
    <v-row
      ><v-icon
        :icon="mdiArchive"
        size="x-large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Stock Management</h1></v-row
    >
  </v-container>
  <v-card class="card-frame" height="594px" :theme="themeStore.theme">
    <v-row class="card-row" align="center" no-gutters>
      <v-col cols="9">
        <v-sheet>
          <v-btn
            class="add-btn"
            color="green"
            :prepend-icon="mdiPlus"
            @click="
              (materialStore.materialDialog = true),
                materialStore.resetEditedMaterial
            "
            >add</v-btn
          >
        </v-sheet></v-col
      >
      <v-col cols="3">
        <v-text-field
          v-model="searchValue"
          class="text-end search-field"
          :items="['All', 'เนื้อสด', 'ผักสด', 'เครื่องปรุง', 'เครื่องดื่ม']"
          density="compact"
          variant="solo"
          label="Search"
          :append-inner-icon="mdiMagnify"
          single-line
          hide-details
          hide-no-data
        ></v-text-field>
      </v-col>
      <!-- <v-col cols="3">
        <v-select
          v-model="selectType"
          class="search-field"
          density="compact"
          variant="solo"
          label="Select"
          :items="['All', 'เนื้อสด', 'ผักสด', 'เครื่องปรุง', 'เครื่องดื่ม']"
          single-line
          hide-details
        ></v-select>
      </v-col> -->
    </v-row>
    <v-divider></v-divider>
    <v-table fixed-header height="500" hover>
      <thead>
        <tr>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Material ID
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Category
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Name
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Minimum Value
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            On hand
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Unit
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            <!-- Material's Unit -->
          </th>
        </tr>
      </thead>
      <tbody v-if="sortedMaterial.length">
        <tr v-for="item of sortedMaterial" :key="item.id" class="text-center">
          <!-- <td class="text-center">
            <v-img :src="item.img" class="pa-5"></v-img>
          </td> -->
          <td>{{ item.id }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.minimum }}</td>
          <td>{{ item.onhand }}</td>
          <td>{{ item.unit }}</td>
          <td class="pa-5 justify-end">
            <v-btn
              class="edit-btn"
              variant="tonal"
              size="x-small"
              color="orange darken-4"
              :icon="mdiPencil"
              @click="editMaterial(item)"
            ></v-btn>
            <v-btn
              class="del-btn"
              size="x-small"
              variant="tonal"
              color="error"
              :icon="mdiDelete"
              @click="deleteMaterial(item)"
            ></v-btn>
            <v-btn
              class="update-btn"
              size="x-small"
              variant="tonal"
              color="blue darken-4"
              :icon="mdiUpdate"
              @click="updateMaterial(item)"
            ></v-btn>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr height="400px">
          <td colspan="9" class="text-center font-weight-bold text-h4">
            No materials found
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

.card-frame {
  padding: 10px;
  height: max-content;
}
.edit-btn,
.del-btn,
.update-btn {
  margin-right: 10px;
}
.add-btn {
  width: 120px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}
.search-field {
  width: 250px;
}
</style>
