<script setup lang="ts">
import { useMaterialStore } from "@/stores/material";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const materialStore = useMaterialStore();
const items = ["เนื้อสด", "ผัดสด", "เครื่องปรุง", "เครื่องดื่ม"];
const form = ref<VForm | null>(null);
// const delStock = (id: number): void => {
//   stockStore.deleteStock(id);
// };
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    materialStore.saveMaterial();
  }
};

const close = () => {
  materialStore.resetEditedMaterial();
  materialStore.updateDialog = false;
};

// const save = async () => {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     stockStore.saveStock();
//   }
// };
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="materialStore.updateDialog" persistent>
      <v-card>
        <v-card-title class="pa-10">
          <h1>Update Material</h1>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="2" class="text-size">Name:</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model="materialStore.editedMaterial.name"
                    disabled
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="text-size">Minimum Value:</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model.number="materialStore.editedMaterial.minimum"
                    disabled
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
                <v-spacer></v-spacer>
                <v-col cols="2" class="text-size">On Hand</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model.number="materialStore.editedMaterial.onhand"
                    disabled
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="text-size">Add New On hand</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model.number="materialStore.newValue"
                    :rules="[
                      (v) => !!v || 'Material On hand must not be null.',
                    ]"
                    required
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="close">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style></style>
