<script setup lang="ts">
import { useCartStore } from "@/stores/cart";
import { ref } from "vue";

const cartStore = useCartStore();

// const orderDel = (id: number): void => {
//     cartStore.deleteOrder();
// };

const close = () => {
  cartStore.cancelDialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="cartStore.cancelDialog"
      persistent
      max-width="500px"
      width="600"
    >
      <v-card>
        <v-card-title primary-title> Confirm for delete order </v-card-title>
        <v-card-text>Are you sure to delete this item ?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" class="font-weight-bold ma-1" @click="close()">
            No
          </v-btn>
          <v-btn color="green" class="font-weight-bold ma-1" @click="close()">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style></style>
