<script lang="ts" setup>
import MainMenuView from "./MainMenuView.vue";
import CancleDialog from "@/views/Cutomer/CancleDialog.vue";
</script>

<template>
  <MainMenuView />
  <CancleDialog />
</template>
