<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useMenuStore } from "@/stores/menu";
import { useRoute, useRouter } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherRainy,
  mdiCart,
  mdiClose,
  mdiPlus,
  mdiMinus,
  mdiDeleteOutline,
  mdiArrowLeft,
  mdiCheck,
  mdiClockTimeFourOutline,
  mdiMinusCircleOutline,
  mdiGitlab,
  mdiInstagram,
  mdiGoogleDrive,
  mdiGoogle,
  mdiGoogleSpreadsheet,
} from "@mdi/js";
const backendUrl = import.meta.env.VITE_BACKEND_URL;

const route = useRoute();
const model = null;
const menuStore = useMenuStore();
const optionCategory = [
  "All",
  "Northern food",
  "Isaan food",
  "Thai food",
  "Southern food",
];

onMounted(async () => {
  await menuStore.getMenus();
  console.log(route.params.employeeId);
});
</script>

<template>
  <v-app id="home">
    <v-container fluid>
      <div class="background">
        <div class="header">
          <v-row>
            <v-col cols="5">
              <div style="position: relative" class="content-header">
                <p
                  class="text-orange"
                  style="
                    font-size: 50px;
                    font-weight: 400;
                    font-family: 'Merriweather Sans', sans-serif;
                  "
                >
                  OOAD FOOD
                </p>
                <h3
                  class="text-grey"
                  style="
                    font-size: 24px;
                    font-weight: bold;
                    font-family: 'M PLUS 1', sans-serif;
                  "
                >
                  Where tradition meets innovation in Thai cuisine
                </h3>

                <v-btn
                  tile
                  dark
                  class="colorbox text-orange darken-4 mt-8 px-5"
                  variant="outlined"
                >
                  <p
                    style="
                      font-weight: bold;
                      font-family: 'M PLUS 1', sans-serif;
                    "
                  >
                    Order now
                  </p>
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
    <v-container fluid>
      <div class="section-2" id="item">
        <div class="d-flex flex-row mb-6 justify-space-between mx-6">
          <h1 class="mt-6" style="font-family: 'Merriweather Sans', sans-serif">
            Popular Foods
          </h1>
        </div>
        <div class="area-menu">
          <v-slide-group v-model="model" class="pa-4" center-active show-arrows>
            <v-slide-group-item
              v-for="item of menuStore.menus"
              :key="item.id"
              v-slot="{ isSelected, toggle }"
            >
              <v-card
                v-if="item.status == 'Active'"
                variant="outlined"
                :color="isSelected ? 'primary' : 'white'"
                class="ma-4"
                height="300"
                width="300"
                @click="toggle"
              >
                <v-img
                  class="align-end"
                  height="300"
                  :src="`${backendUrl}/menus/image/${item.imgSrc}`"
                  cover
                >
                  <v-row
                    class="d-flex fill-height align-center justify-center bg-blue-grey-lighten-3"
                    ><v-card-title class="ma-3">{{ item.name }}</v-card-title
                    ><v-card-title class="ma-3"
                      >{{ item.price }} Bath</v-card-title
                    ></v-row
                  >
                </v-img>
              </v-card>
            </v-slide-group-item>
          </v-slide-group>
        </div>
        <div>
          <v-row class="d-flex align-center justify-center">
            <v-btn
              class="px-3"
              color="green"
              variant="outlined"
              :to="`/mainMenuitem/${route.params.tableId}/${route.params.employeeId}`"
              ><p
                style="font-weight: bold; font-family: 'M PLUS 1', sans-serif"
              >
                View Menu
              </p>
            </v-btn>
          </v-row>
        </div>
      </div>
    </v-container>

    <v-container fluid id="about">
      <div class="section-4" id="cart">
        <v-container class="ma-auto align-center">
          <v-row class="d-flex justify-center text-h4 mb-8 pt-10"
            ><p style="font-family: 'Merriweather Sans', sans-serif">
              OOAD FOOD
            </p></v-row
          >
          <v-row class="d-flex justify-center text-h6 text-center mb-8"
            ><p style="font-family: 'M PLUS 1', sans-serif">
              Welcome to OOAD FOOD, a restaurant dedicated to bringing you the
              authentic flavors of Thailand. Our team of skilled chefs is
              passionate about creating dishes that capture the essence of Thai
              cuisine, using only the freshest ingredients and time-honored
              techniques to bring you the best possible dining experience.
            </p>
          </v-row>
          <v-row
            ><v-col class="d-flex justify-center">
              <v-btn class="mr-3" :icon="mdiGitlab"></v-btn>
              <v-btn class="mr-3" :icon="mdiGoogleDrive"></v-btn
              ><v-btn class="mr-3" :icon="mdiGoogle"></v-btn>
              <v-btn :icon="mdiGoogleSpreadsheet"></v-btn></v-col
          ></v-row>
        </v-container>
      </div>
      <div class="footer">
        <p style="font-family: 'Merriweather Sans', sans-serif">
          Copyright ©2023 OOADFOOD. Developed By Assist Tech
        </p>
      </div>
    </v-container>
  </v-app>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.background {
  width: 1550px;
  height: 680px;
  background: url("@/assets/bg.jpg") no-repeat;
  background-position: right;
  background-size: contain;
}

.footer {
  height: 50px;
  background-color: #ff7a00;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
}

.header {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 400px;
  width: 100%;
  color: white;
}
.content-header {
  margin-top: 200px;
}
.section-2 {
  width: 1500px;
  height: 540px;
  background-color: rgb(247, 241, 234);
}
/* .header-text {
  text-align: center;
} */

.section-3 {
  width: 1500px;
  height: 540px;
  background-color: rgb(170, 155, 135);
}
.section-4 {
  width: 1500px;
  height: 350px;
  background-color: rgb(243, 243, 243);
}
</style>
