<script setup lang="ts">
import { useCartStore } from "@/stores/cart";
import { useMenuStore } from "@/stores/menu";
import type Menu from "@/types/Menu";
import { mdiPlus, mdiClose } from "@mdi/js";
import { ref, computed, onMounted } from "vue";

const cartStore = useCartStore();
const menuStore = useMenuStore();
const backendUrl = import.meta.env.VITE_BACKEND_URL;

const optionCategory = [
  "All",
  "Northern food",
  "Isaan food",
  "Thai food",
  "Southern food",
];
const selectType = ref("All");
const sortedMenus = computed(() => {
  menuStore.menus.filter((item) => item.category.includes(selectType.value));
  return menuStore.menus;
});
onMounted(async () => {
  await menuStore.getMenus();
});
</script>
<template>
  <v-row class="menuHead" align="center" no-gutters>
    <v-col
      ><h1 style="font-family: 'Merriweather Sans', sans-serif">Menu</h1></v-col
    >
    <v-col class="mr-10" cols="2"
      ><v-select
        v-model="selectType"
        style="font-family: 'M PLUS 1', sans-serif"
        class="search-field"
        density="compact"
        variant="solo"
        label="Select"
        :items="optionCategory"
        single-line
        hide-details
      ></v-select
    ></v-col>
  </v-row>
  <v-main class="d-flex justify-center">
    <v-container v-if="sortedMenus.length">
      <v-row>
        <v-col v-for="item of sortedMenus" :key="item.id" cols="4">
          <v-card
            v-if="item.status == 'Active'"
            class="ma-2 pt-4 pl-4"
            height="190"
          >
            <v-row class="d-flex flex-row"
              ><v-col
                ><v-img
                  height="150"
                  width="200"
                  :src="`${backendUrl}/menus/image/${item.imgSrc}`"
                ></v-img
              ></v-col>
              <v-col class="ml-3"
                ><v-row
                  ><v-card-title>{{ item.name }}</v-card-title>
                </v-row>
                <!-- <v-row
                  ><v-card-subtitle>{{ item.descript }}</v-card-subtitle></v-row
                > -->
                <v-row class="mt-10 mr-2" align="center">
                  <v-card-text> {{ item.price }} BTH</v-card-text
                  ><v-card-actions
                    ><v-btn
                      color="success"
                      :icon="mdiPlus"
                      @click="cartStore.addToCart(item)"
                    ></v-btn></v-card-actions
                ></v-row>
              </v-col>
            </v-row>
          </v-card>
          <v-card v-else disabled class="ma-2 pt-4 pl-4" height="190">
            <v-row class="d-flex flex-row"
              ><v-col
                ><v-img
                  height="150"
                  width="200"
                  :src="`${backendUrl}/menus/image/${item.imgSrc}`"
                ></v-img
              ></v-col>
              <v-col class="ml-3"
                ><v-row
                  ><v-card-title>{{ item.name }}</v-card-title>
                </v-row>
                <!-- <v-row
                  ><v-card-subtitle>{{ item.descript }}</v-card-subtitle></v-row
                > -->
                <v-row class="mt-10 mr-2" align="center">
                  <v-card-text>{{ item.price }} BTH</v-card-text
                  ><v-card-actions
                    ><v-btn
                      color="success"
                      :icon="mdiPlus"
                      @click="cartStore.addToCart(item)"
                    ></v-btn></v-card-actions
                ></v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<style scoped>
* {
  margin: 0px;
  padding: 0px;
}

.menuHead {
  margin-left: 50px;
  margin-top: 20px;

  font-size: 16pt;
}
</style>
