<script lang="ts" setup>
import { useCartStore } from "@/stores/cart";
import { useRoute } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherRainy,
  mdiCart,
  mdiClose,
  mdiPlus,
  mdiMinus,
  mdiDeleteOutline,
} from "@mdi/js";
import { ref } from "vue";
const cartStore = useCartStore();
const route = useRoute();
const dialog = ref(false);
</script>

<template>
  <v-row>
    <v-dialog
      class="dialog-cart"
      v-model="cartStore.orderingDialog"
      fullscreen
      width="500"
      transition="slide-x-reverse-transition"
    >
      <v-card width="100%">
        <v-card-title class="d-flex">
          <v-row style="position: relative" class="d-flex align-center"
            ><v-col
              cols="2"
              style="position: absolute"
              class="d-flex align-center justify-center"
              ><v-btn
                variant="text"
                color="red-lighten-2"
                :icon="mdiClose"
                @click="cartStore.orderingDialog = false"
              ></v-btn
            ></v-col>
            <v-col align-self="center" class="d-flex justify-center"
              ><h3 style="font-family: 'Merriweather Sans', sans-serif">
                Ordering
              </h3></v-col
            ></v-row
          >
        </v-card-title>
        <v-divider
          thickness="3"
          class="border-opacity-25"
          color="black"
        ></v-divider>

        <v-container v-if="cartStore.cart.length">
          <v-card-title class="text-h6 font-weight-bold"
            ><p style="font-family: 'Merriweather Sans', sans-serif">
              Table: {{ route.params.tableId }}
            </p></v-card-title
          >
          <v-card variant="flat" max-height="400px">
            <v-table fixed-header height="400" show-select hover>
              <thead>
                <tr class="">
                  <th
                    class="text-center font-weight-bold"
                    style="font-family: 'Merriweather Sans', sans-serif"
                  >
                    Order
                  </th>
                  <th
                    class="text-center font-weight-bold"
                    style="font-family: 'Merriweather Sans', sans-serif"
                  >
                    QTY.
                  </th>
                  <th
                    class="text-center font-weight-bold"
                    style="font-family: 'Merriweather Sans', sans-serif"
                  >
                    Price
                  </th>
                  <th
                    class="text-center font-weight-bold"
                    style="font-family: 'Merriweather Sans', sans-serif"
                  >
                    Sum
                  </th>
                </tr>
              </thead>
              <tbody v-if="cartStore.cart.length" class="text-center">
                <tr v-for="(item, index) in cartStore.cart" :key="index">
                  <!-- <div>{{ index }}</div> -->
                  <td>{{ item.menu.name }}</td>
                  <td>
                    <v-btn
                      v-if="item.qty > 1"
                      class="mr-3"
                      rounded="0"
                      :icon="mdiMinus"
                      color="green"
                      size="x-small"
                      variant="tonal"
                      @click="cartStore.decrement(index)"
                    ></v-btn
                    ><v-btn
                      v-else
                      class="mr-3"
                      rounded="0"
                      :icon="mdiDeleteOutline"
                      size="x-small"
                      color="red"
                      variant="tonal"
                      @click="cartStore.clear(index)"
                    ></v-btn
                    >{{ item.qty
                    }}<v-btn
                      class="ml-3"
                      rounded="0"
                      :icon="mdiPlus"
                      color="green"
                      size="x-small"
                      variant="tonal"
                      @click="cartStore.increment(index)"
                    ></v-btn>
                  </td>
                  <td>{{ item.menu.price }}</td>
                  <td>{{ item.menu.price * item.qty }}</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="9" class="text-center">Order Empty</td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
          <v-row class="ml-5 ma-auto text-h6"
            ><p style="font-family: 'M PLUS 1', sans-serif">
              Amount: {{ cartStore.totalQty }}
            </p>
          </v-row>
          <v-row class="ml-5 ma-auto text-h4 text-orange mt-2 font-weight-bold"
            ><p style="font-family: 'Merriweather Sans', sans-serif">
              Total: {{ cartStore.total }}
            </p></v-row
          >

          <v-row class="d-flex justify-center mt-15"
            ><v-btn
              max-width="450"
              width="350"
              variant="tonal"
              color="red"
              @click="
                (cartStore.watingDialog = true),
                  (cartStore.orderingDialog = false),
                  cartStore.checkOut(
                    parseInt(route.params.tableId as string),
                    parseInt(route.params.employeeId as string)
                  )
              "
              ><p
                style="font-weight: bold; font-family: 'M PLUS 1', sans-serif"
              >
                check out
              </p></v-btn
            ></v-row
          >
        </v-container>
        <v-container v-else mt-10 d-flex flex-column justify-space-between>
          <v-img width="500" height="300" src="/public/empty cart.png"></v-img>
          <v-row class="ma-auto mt-15 d-flex justify-center"
            ><v-btn
              max-width="450"
              width="350"
              variant="tonal"
              color="green"
              :to="`/mainMenuitem/${route.params.tableId}/${route.params.employeeId}`"
              @click="cartStore.orderingDialog = false"
              ><p
                style="font-weight: bold; font-family: 'M PLUS 1', sans-serif"
              >
                go to menu
              </p></v-btn
            ></v-row
          >
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap");

@media (min-width: 900px) {
  .dialog-cart {
    right: -300;
    left: calc(100% - 500px);
    z-index: 9999;
    /* margin-left: 300px; */
  }
}
</style>
