<script lang="ts" setup>
import { useCartStore } from "@/stores/cart";
import { useRoute } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherRainy,
  mdiCart,
  mdiClose,
  mdiPlus,
  mdiMinus,
  mdiDeleteOutline,
  mdiArrowLeft,
} from "@mdi/js";

const cartStore = useCartStore();
</script>

<template>
  <v-dialog
    class="dialog-cart"
    fullscreen
    v-model="cartStore.watingDialog"
    width="500"
    transition="dialog-left-transition"
  >
    <v-card>
      <v-card-title>
        <v-row style="position: relative" class="d-flex align-center"
          ><v-col
            cols="2"
            style="position: absolute"
            class="d-flex align-center justify-center"
            ><v-btn
              variant="text"
              color="red-lighten-2"
              :icon="mdiClose"
              @click="cartStore.watingDialog = false"
            ></v-btn
          ></v-col>
          <v-col align-self="center" class="d-flex justify-center"
            ><h3 style="font-family: 'Merriweather Sans', sans-serif">
              Ordering
            </h3>
          </v-col></v-row
        >
      </v-card-title>
      <v-divider :thickness="3" class="border-opacity-25" color="success">
      </v-divider>
      <v-card-title class="d-flex justify-start"></v-card-title>
      <v-img
        class="ma-auto mt-16"
        width="380"
        height="25"
        cover
        src="/public/cooking.gif"
      ></v-img>
      <v-row class="mt-5 d-flex justify-center text-h5">กำลังทำ..</v-row>

      <!-- <v-row class="d-flex justify-center mt-15"
        ><v-btn
          max-width="450"
          width="350"
          variant="tonal"
          color="red"
          @click="cartStore.cancelDialog = true"
          ><p style="font-weight: bold; font-family: 'M PLUS 1', sans-serif">
            cancel
          </p></v-btn
        ></v-row
      > -->
    </v-card>
  </v-dialog>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap");

@media (min-width: 900px) {
  .dialog-cart {
    right: -300;
    left: calc(100% - 500px);
    z-index: 9999;
    /* margin-left: 300px; */
  }
}
</style>
