<script setup lang="ts">
import { mdiCheck } from "@mdi/js";
import { computed, onMounted, onUnmounted, ref } from "vue";
import { mdiClipboardList } from "@mdi/js";
import { useMenuQueueStore } from "@/stores/menuQueue.js";
const menuQueueStore = useMenuQueueStore();
let serveList = computed(() => {
  // return menuQueueStore.menuQueues.filter(
  //   (item) =>
  //     item.menuStatus?.includes("Kitchen") ||
  //     item.menuStatus?.includes("Ready to serve")
  // );
  const list = menuQueueStore.menuQueues.filter(
    (item) =>
      item.menuStatus?.includes("Kitchen") ||
      item.menuStatus?.includes("Ready to serve")
  );
  console.log("serveList recomputed:", list);
  return list;
});

let checkedID: number[] = [];
let isShow = ref(false);
const isCheck = (id: number) => {
  if (checkedID.includes(id)) {
    const index = checkedID.indexOf(id);
    checkedID.splice(index, 1);
    if (checkedID.length == 0) {
      isShow.value = false;
    }
  } else {
    checkedID.push(id);
    isShow.value = true;
  }
};

const showDialog = ref(false);

const timerId = ref<number>();
onMounted(async () => {
  await menuQueueStore.getMenuQueue();
  timerId.value = setInterval(async () => {
    await menuQueueStore.reloadmenuQueue();
    console.log("reload data");
  }, 2000);
});
onUnmounted(() => {
  if (timerId.value) {
    clearInterval(timerId.value);
  }
});
</script>

<template>
  <v-container>
    <v-row
      ><v-icon
        :icon="mdiClipboardList"
        size="large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Serve Queue</h1>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card height="550px">
          <v-table fixed-header hover height="550px">
            <thead>
              <tr>
                <th
                  class="text-align-center font-weight-bold text-subtitle-1"
                  style="background-color: darkgray"
                ></th>
                <th
                  class="text-left font-weight-bold text-subtitle-1"
                  style="background-color: darkgray"
                >
                  Table
                </th>
                <th
                  class="text-left font-weight-bold text-subtitle-1"
                  style="background-color: darkgray"
                >
                  Food Name
                </th>
                <th
                  class="text-left font-weight-bold text-subtitle-1"
                  style="background-color: darkgray"
                >
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in serveList" :key="item.id" height="100">
                <!-- v-model="item.checked" << put this line in tag input below -->
                <td width="5%">
                  <input
                    type="checkbox"
                    style="height: 20px; width: 20px; vertical-align: middle"
                    :disabled="!(item.menuStatus === 'Ready to serve')"
                    @click="isCheck(item.id)"
                  />
                </td>
                <td class="text-h6">
                  {{ item.orderItem?.order?.table?.id }}
                </td>
                <td class="text-h6">
                  {{ item.menu?.name }}
                </td>
                <td width="20%">
                  <v-badge
                    :content="
                      item.menuStatus === 'Ready to serve'
                        ? 'สถานะ:พร้อมเสิร์ฟ'
                        : 'สถานะ:กำลังปรุง'
                    "
                    :color="
                      item.menuStatus === 'Ready to serve' ? 'green' : 'blue'
                    "
                    inline
                    vertical-align:
                    middle
                  ></v-badge>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3" offset="11">
        <v-btn
          color="green"
          :prepend-icon="mdiCheck"
          size="large"
          @click="showDialog = true"
          :disabled="!isShow"
          ><v-dialog persistent max-width="500px" v-model="showDialog">
            <v-card>
              <v-card-title class="text-h5 font-weight-bold justify-center">
                Confirm Serving
              </v-card-title>
              <v-card-actions class="justify-end">
                <v-btn color="red" @click="showDialog = false" variant="tonal"
                  >NO</v-btn
                >
                <v-btn
                  color="green"
                  @click="
                    menuQueueStore.serveQueue(checkedID);
                    showDialog = false;
                    isShow = false;
                  "
                  variant="tonal"
                  >YES</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
          Serve</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
th {
  background-color: darkgray;
}
</style>
