<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";

const employeeStore = useEmployeeStore();
const closeDialog = () => {
  employeeStore.deleteEmployeeDialog = false;
  employeeStore.resetEditedEmployee;
};
</script>

<template>
  <v-dialog
    v-model="employeeStore.deleteEmployeeDialog"
    persistent
    width="auto"
  >
    <v-card>
      <v-card-title class="text-h5"> Confirm for delete employee </v-card-title>
      <v-card-text>Are you sure to delete this employee ?</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="red"
          variant="text"
          @click="closeDialog(), employeeStore.resetEditedEmployee()"
        >
          No
        </v-btn>
        <v-btn
          color="green"
          variant="text"
          @click="employeeStore.deleteEmployee"
        >
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style></style>
