<script setup lang="ts">
import EmployeeList from "./EmployeeList.vue";
import EmployeeDialog from "./EmployeeDialog.vue";
import EmployeeDelete from "./EmployeeDelete.vue";
</script>

<template>
  <EmployeeList />
  <EmployeeDialog />
  <EmployeeDelete />
</template>

<style scope></style>
