<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";
import type Employee from "@/types/Employee";
import type Table from "@/types/Table";
import {
  mdiDelete,
  mdiPencil,
  mdiPlus,
  mdiMagnify,
  mdiAccountMultiple,
} from "@mdi/js";
import { ref, computed, onMounted } from "vue";

const employeeStore = useEmployeeStore();

onMounted(async () => {
  await employeeStore.getEmployees();
});

const deleteEmployee = (item: Employee) => {
  employeeStore.deleteEmployeeDialog = true;
  employeeStore.editedEmployee = JSON.parse(JSON.stringify(item));
};

const editEmployee = (item: Employee) => {
  employeeStore.addEmployeeDialog = true;
  employeeStore.editedEmployee = JSON.parse(JSON.stringify(item));
  delete employeeStore.editedEmployee.password;
};

const optionCategory = ["All", "พนักงาน", "เจ้าของร้าน", "ผู้จัดการ"];
const selectType = ref("All");
const searchQuery = ref("");

const sortedEmployees = computed(() => {
  if (searchQuery.value.trim().length > 0) {
    return employeeStore.employees.filter(
      (item) =>
        item.id!.toString().includes(searchQuery.value.trim()) ||
        item.name.includes(searchQuery.value.trim()) ||
        item.surname.includes(searchQuery.value.trim()) ||
        item.age.toString().includes(searchQuery.value.trim()) ||
        item.tel.toString().includes(searchQuery.value.trim()) ||
        item.role.toString().includes(searchQuery.value.trim()) ||
        item.username.toString().includes(searchQuery.value.trim())
    );
  }
  if (selectType.value != "All") {
    return employeeStore.employees.filter(
      (item) => item.role == selectType.value
    );
  }
  return employeeStore.employees;
});
</script>
<template>
  <v-container class="ma-6">
    <v-row
      ><v-icon
        size="x-large"
        class="mr-6 mt-2 ml-3"
        :icon="mdiAccountMultiple"
      ></v-icon>
      <h1>Employee Management</h1>
    </v-row>
  </v-container>

  <v-card class="card-frame" height="594px">
    <v-row align="center" no-gutters>
      <v-col class="card-frame" height="500px" cols="9">
        <v-sheet
          ><v-btn
            class="add-btn"
            color="green"
            :prepend-icon="mdiPlus"
            @click="employeeStore.addEmployeeDialog = true"
            >Add</v-btn
          ></v-sheet
        >
      </v-col>
      <v-col cols="3">
        <v-text-field
          v-model="searchQuery"
          class="text-end search-field"
          density="compact"
          variant="solo"
          label="Search"
          :append-inner-icon="mdiMagnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col>

      <!-- <v-col>
        <v-select
          v-model="selectType"
          class="search-field"
          density="compact"
          variant="solo"
          label="Select"
          :items="optionCategory"
          single-line
          hide-details
        ></v-select
      ></v-col> -->
    </v-row>
    <v-divider></v-divider>
    <v-table class="table" fixed-header height="500" hover>
      <thead>
        <tr>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Employee ID
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Name
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Surname
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Age
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Tel
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Role
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Username
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Password
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody v-if="sortedEmployees.length">
        <tr v-for="item of sortedEmployees" :key="item.id" class="text-center">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.surname }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.tel }}</td>
          <td>{{ item.role }}</td>
          <td>{{ item.username }}</td>
          <td v-if="item.password!.length > 10">
            {{ item.password!.substring(0, 10) }}...
          </td>
          <td v-else>{{ item.password }}</td>
          <td class="pa-5 justify-end">
            <v-btn
              :icon="mdiPencil"
              class="edit-btn ma-3"
              variant="tonal"
              size="x-small"
              color="orange darken-4"
              @click="editEmployee(item)"
            ></v-btn>
            <v-btn
              :icon="mdiDelete"
              class="edit-btn"
              variant="tonal"
              size="x-small"
              color="error"
              @click="deleteEmployee(item)"
            ></v-btn>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr height="400px">
          <td colspan="9" class="text-center font-weight-bold text-h4">
            No employees found
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>
<style scoped>
* {
  margin: 0;
  padding: 0;
}

.card-frame {
  padding: 10px;
  height: max-content;
}
.add-btn {
  width: 120px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}
.text-end,
search-field {
  width: 120px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}
.search-field {
  width: 250px;
}
</style>
