<script lang="ts" setup>
import { ref } from "vue";
import { useEmployeeStore } from "@/stores/employee";
import type { VForm } from "vuetify/components";
const employeeStore = useEmployeeStore();

const form = ref<VForm | null>(null);
const itemCategory = ["พนักงาน", "เจ้าของร้าน", "ผู้จัดการ"];

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    employeeStore.saveEmployee();
  }
};

const clear = () => {
  employeeStore.addEmployeeDialog = false;
  employeeStore.resetEditedEmployee();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog
      v-model="employeeStore.addEmployeeDialog"
      scrollable
      persistent
      :overlay="false"
      max-width="900px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title v-if="employeeStore.editedEmployee.id" class="pa-10">
          <h1>Edit Employee</h1>
        </v-card-title>
        <v-card-title v-else class="pa-10">
          <h1>Add Employee</h1>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Name*"
                    v-model="employeeStore.editedEmployee.name"
                    :rules="[
                      (v) => !!v || 'Name is required.',
                      (v) =>
                        v.length >= 4 ||
                        'Name length must more then or equal to 4 characters.',
                      (v) =>
                        v.length <= 64 ||
                        'Name length must less then or equal to 64 characters.',
                      (v) =>
                        /^(?=.*[\u0E00-\u0E7FA-Za-z])[\u0E00-\u0E7FA-Za-z]+$/.test(
                          v
                        ) ||
                        'Name must contain only Thai or English alphabets, with no special characters, numbers, or spaces.',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Surname*"
                    persistent-hint
                    v-model="employeeStore.editedEmployee.surname"
                    :rules="[
                      (v) => !!v || 'Surname is required.',
                      (v) =>
                        v.length >= 4 ||
                        'Surname length must more then or equal to 4 characters.',
                      (v) =>
                        v.length <= 64 ||
                        'Surname length must less then or equal to 64 characters.',
                      (v) =>
                        /^(?=.*[\u0E00-\u0E7FA-Za-z])[\u0E00-\u0E7FA-Za-z]+$/.test(
                          v
                        ) ||
                        'Surname must contain only Thai or English alphabets, with no special characters, numbers, or spaces.',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Tel*"
                    persistent-hint
                    v-model="employeeStore.editedEmployee.tel"
                    :rules="[
                      (v) => !!v || 'Phone numbers is required.',
                      (v) =>
                        v.length == 10 ||
                        'Phone numbers length equal to 10 digits.',
                      (v) =>
                        /^(0\d{9})$/.test(v) ||
                        'Phone numbers must start with 0 as the first digit, followed by 9 other digits.',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                  <v-select
                    v-model="employeeStore.editedEmployee.role"
                    :items="itemCategory"
                    selected="พนักงาน"
                    name="name"
                    density="compact"
                    variant="solo"
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Age*"
                    v-model.number="employeeStore.editedEmployee.age"
                    :rules="[
                      (v) => !!v || 'Age is required.',
                      (v) => v >= 18 || 'Age must be at least 18.',
                      (v) => v <= 100 || 'Age cannot be greater than 100.',
                    ]"
                    persistent-hint
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Username*"
                    v-model="employeeStore.editedEmployee.username"
                    :rules="[
                      (v) => !!v || 'Username is required.',
                      (v) =>
                        v.length >= 3 ||
                        'Username must be alphanumeric and length must more then or equal to 3 characters.',
                      (v) =>
                        v.length <= 20 ||
                        'Username length must less then or equal to 20 characters.',
                      (v) =>
                        /^[a-zA-Z0-9._-]{3,20}$/.test(v) ||
                        'Username must consists of 3 to 20 characters and only contains letters, numbers, periods, underscores, or hyphens.',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-if="employeeStore.editedEmployee.id"
                    label="Password*"
                    type="password"
                    v-model="employeeStore.editedEmployee.password"
                    :rules="[
                      (v) =>
                        !employeeStore.editedEmployee.password ||
                        (employeeStore.editedEmployee.password &&
                          employeeStore.editedEmployee.password.length >= 8 &&
                          /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/.test(
                            employeeStore.editedEmployee.password
                          )) ||
                        'Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.',
                    ]"
                    required
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Password*"
                    type="password"
                    v-model="employeeStore.editedEmployee.password"
                    :rules="[
                      (v) => !!v || 'Password is required.',
                      (v) =>
                        v.length >= 8 ||
                        'Password must be at least 8 characters long.',
                      (v) =>
                        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/.test(
                          v
                        ) ||
                        'Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" variant="text" @click="clear"> Close </v-btn>
          <v-btn color="green" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
