<script setup lang="ts">
import { mdiCheck, mdiSilverwareClean } from "@mdi/js";
import { useTableStore } from "@/stores/table";
import { onMounted } from "vue";
import TableStatusDialog from "@/views/TableStatusManagement/TableStatusDialog.vue";

const tableStore = useTableStore();

onMounted(async () => {
  await tableStore.getTables();
});
</script>

<template>
  <TableStatusDialog />
  <v-container>
    <v-row>
      <v-icon
        :icon="mdiSilverwareClean"
        size="x-large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Tables Cleanning Status</h1>
    </v-row>
  </v-container>
  <v-container>
    <v-card class="card-frame pa-10" height="550px">
      <v-row>
        <v-col cols="12">
          <v-table fixed-header height="450" hover>
            <thead>
              <tr>
                <th
                  class="font-weight-bold text-h6"
                  style="background-color: darkgray"
                >
                  Table No.
                </th>
                <th
                  class="font-weight-bold text-h6"
                  style="background-color: darkgray"
                >
                  Status
                </th>
                <th style="background-color: darkgray"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in tableStore.tables" :key="item.id">
                <td
                  v-if="item.status == 'Waiting for cleaning'"
                  class="text-sm-h6"
                >
                  Table {{ item.id }}
                </td>
                <td
                  v-if="item.status == 'Waiting for cleaning'"
                  class="text-sm-h6 text-amber-accent-3"
                >
                  {{ item.status }}
                </td>
                <td
                  v-if="item.status == 'Waiting for cleaning'"
                  class="text-end pa-5"
                >
                  <v-btn
                    class="edit-btn"
                    color="orange darken-4"
                    :icon="mdiCheck"
                    @click="tableStore.changeTableStatus(item, 'Avaliable')"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style scoped></style>
