<script setup lang="ts">
import MenuList from "./MenuList.vue";
import MenuAdd from "./MenuAdd.vue";
import MenuDeleteDialog from "./MenuDeleteDialog.vue";
import MenuEditDialog from "./MenuEditDialog.vue";
</script>

<template>
  <MenuList></MenuList>
  <MenuDeleteDialog></MenuDeleteDialog>
  <!-- <MenuEditDialog></MenuEditDialog> -->
  <MenuAdd></MenuAdd>
</template>

<style scoped></style>
