<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { mdiCamera } from "@mdi/js";

const menuStore = useMenuStore();
const form = ref<VForm | null>(null);

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    menuStore.saveMenu();
  }
};
const clear = () => {
  menuStore.showEditDialog = false;
  menuStore.clear();
};

const close = () => {
  menuStore.showEditDialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="menuStore.showEditDialog"
      persistent
      max-width="900px"
      width="900px"
    >
      <v-card>
        <v-card-title primary-title> EDIT MENU </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container grid-list-xs>
              <v-row>
                <v-col cols="3">NAME</v-col>
                <v-col cols="4"
                  ><v-text-field
                    v-model="menuStore.editedMenu.name"
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="text-size">Description</v-col>
                <v-col cols="9"
                  ><v-textarea
                    v-model="menuStore.editedMenu.description"
                    name="name"
                    density="compact"
                    variant="solo"
                  ></v-textarea
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="text-size">Category</v-col>
                <v-col cols="4"
                  ><v-select
                    v-model="menuStore.editedMenu.category"
                    name="name"
                    density="compact"
                    variant="solo"
                  ></v-select
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="text-size">Set different sizes</v-col>
                <v-col cols="9"
                  ><v-redio-group inline v-model="menuStore.editedMenu.setSize"
                    ><v-radio label="Yes" value="1"></v-radio>
                    <v-radio label="No" value="2"></v-radio></v-redio-group
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="text-size">Price</v-col>
                <v-col cols="2"
                  ><v-text-field
                    v-model="menuStore.editedMenu.price"
                    name="name"
                    density="compact"
                    variant="solo"
                  ></v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="text-size">Image</v-col>
                <v-col cols="4">
                  <!-- <v-btn color="primary" rounded dark> Upload File </v-btn>
        <input ref="uploader" class="d-none" type="file" accept="image/*" /> -->
                  <v-file-input
                    label="File input"
                    variant="filled"
                    :prepend-icon="mdiCamera"
                  ></v-file-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="text-size">Status</v-col>
                <v-col cols="4"
                  ><v-select
                    v-model="menuStore.editedMenu.status"
                    name="name"
                    density="compact"
                    variant="solo"
                  ></v-select
                ></v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-btn color="red" class="font-weight-bold ma-1" @click="close()">
            Close
          </v-btn>
          <v-btn color="green" class="font-weight-bold ma-1" @click="save()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style></style>
