<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { mdiCamera } from "@mdi/js";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const menuStore = useMenuStore();
const itemCategory = [
  "All",
  "Northern food",
  "Isaan food",
  "Thai food",
  "Southern food",
];
const itemStatus = ["Active", "Unactive"];
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    menuStore.saveMenu();
    menuStore.editMenuDialog = false;
  }
};

const close = () => {
  menuStore.resetEditedMenu();
  menuStore.editMenuDialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="menuStore.editMenuDialog"
      scrollable
      persistent
      :overlay="false"
      max-width="900px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title v-if="menuStore.editedMenu.id" class="pa-10">
          <h1>Edit Menu</h1>
        </v-card-title>
        <v-card-title v-else class="pa-10">
          <h1>Add Menu</h1>
        </v-card-title>
        <v-card-text>
          <v-form ref="form" class="pa-3 frame-container">
            <v-row>
              <v-col cols="3" class="text-size">Name</v-col>
              <v-col cols="4"
                ><v-text-field
                  v-model="menuStore.editedMenu.name"
                  :rules="[
                    (v) => !!v || 'Name must not be null.',
                    (v) => /[^0-9]/.test(v) || 'Name must not be digit',
                  ]"
                  density="compact"
                  variant="solo"
                ></v-text-field
              ></v-col>
            </v-row>
            <v-row>
              <v-col cols="3" class="text-size">Description</v-col>
              <v-col cols="9"
                ><v-textarea
                  v-model="menuStore.editedMenu.descript"
                  :rules="[(v) => !!v || 'Description must not be null.']"
                  density="compact"
                  variant="solo"
                ></v-textarea
              ></v-col>
            </v-row>
            <v-row>
              <v-col cols="3" class="text-size">Category</v-col>
              <v-col cols="4"
                ><v-select
                  v-model="menuStore.editedMenu.category"
                  :items="itemCategory"
                  :rules="[(v) => !!v || 'Item is required']"
                  density="compact"
                  variant="solo"
                ></v-select
              ></v-col>
            </v-row>
            <!-- <v-row>
              <v-col cols="3" class="text-size">Set different sizes</v-col>
              <v-col cols="9"
                ><v-redio-group inline v-model="menuStore.editedMenu.size"
                  ><v-radio label="Yes" value="1"></v-radio>
                  <v-radio label="No" value="2"></v-radio></v-redio-group
              ></v-col>
            </v-row> -->
            <v-row>
              <v-col cols="3" class="text-size">Price</v-col>
              <v-col cols="2"
                ><v-text-field
                  v-model.number="menuStore.editedMenu.price"
                  :rules="[(v) => !!v || 'Price value must not be null.']"
                  density="compact"
                  variant="solo"
                ></v-text-field
              ></v-col>
            </v-row>
            <v-row>
              <v-col cols="3" class="text-size">Image</v-col>
              <v-col cols="4">
                <!-- <v-btn color="primary" rounded dark> Upload File </v-btn>
        <input ref="uploader" class="d-none" type="file" accept="image/*" /> -->
                <v-file-input
                  v-model="menuStore.editedMenu.files"
                  label="File input"
                  variant="filled"
                  :prepend-icon="mdiCamera"
                ></v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3" class="text-size">Status</v-col>
              <v-col cols="4"
                ><v-select
                  :items="itemStatus"
                  v-model="menuStore.editedMenu.status"
                  density="compact"
                  variant="solo"
                ></v-select
              ></v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" variant="text" @click="close"> Close </v-btn>
          <v-btn color="green" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scope>
.text-size {
  font-size: 18px;
  font-weight: bolder;
}
</style>
