<script setup lang="ts">
import { ref, computed, onMounted } from "vue";
import { useMenuStore } from "@/stores/menu";
import {
  mdiPencil,
  mdiDelete,
  mdiMagnify,
  mdiPlus,
  mdiListBoxOutline,
} from "@mdi/js";
import type Menu from "@/types/Menu";

const menuStore = useMenuStore();
const backendUrl = import.meta.env.VITE_BACKEND_URL;

const deleteMenu = (item: Menu) => {
  menuStore.deleteMenuDialog = true;
  menuStore.editedMenu = JSON.parse(JSON.stringify(item));
};

const editMenu = (item: Menu) => {
  menuStore.editMenuDialog = true;
  menuStore.editedMenu = JSON.parse(JSON.stringify(item));
};

const optionCategory = [
  "All",
  "Northern food",
  "Isaan food",
  "Thai food",
  "Southern food",
];
const selectType = ref("All");
const searchQuery = ref("");

const sortedMenus = computed(() => {
  if (searchQuery.value.trim().length > 0) {
    return menuStore.menus.filter(
      (item) =>
        item.id!.toString().includes(searchQuery.value.trim()) ||
        item.name.includes(searchQuery.value.trim()) ||
        item.category.includes(searchQuery.value.trim()) ||
        item.status.includes(searchQuery.value.trim()) ||
        item.price.toString().includes(searchQuery.value.trim())
    );
  } else if (
    searchQuery.value.trim().length == 0 &&
    selectType.value != "All"
  ) {
    return menuStore.menus.filter((item) =>
      item.category.includes(selectType.value)
    );
  }
  return menuStore.menus;
});

onMounted(async () => {
  await menuStore.getMenus();
});
</script>

<template>
  <v-container class="ma-6">
    <v-row
      ><v-icon
        :icon="mdiListBoxOutline"
        size="x-large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Menu Management</h1>
    </v-row>
  </v-container>

  <v-card class="card-frame" height="594px">
    <v-row align="center" no-gutters>
      <v-col cols="9">
        <v-sheet>
          <v-btn
            class="add-btn"
            color="green"
            :prepend-icon="mdiPlus"
            @click="menuStore.editMenuDialog = true"
            >add</v-btn
          >
        </v-sheet></v-col
      >
      <v-col cols="3">
        <v-text-field
          v-model="searchQuery"
          class="text-end search-field"
          density="compact"
          variant="solo"
          label="Search"
          :append-inner-icon="mdiMagnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col>
      <!-- <v-col>
        <v-select
          v-model="selectType"
          class="search-field"
          density="compact"
          variant="solo"
          label="Select"
          :items="optionCategory"
          single-line
          hide-details
        ></v-select
      ></v-col> -->
    </v-row>
    <v-divider></v-divider>
    <v-table fixed-header height="500" hover>
      <thead>
        <tr>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Id
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Image
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Name
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Category
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Price
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Status
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody v-if="sortedMenus.length">
        <tr v-for="item of sortedMenus" :key="item.id" class="text-center">
          <td>{{ item.id }}</td>
          <td>
            <v-img
              :src="`${backendUrl}/menus/image/${item.imgSrc}`"
              class="pa-5"
              height="256px"
            ></v-img>
            <v-tooltip activator="parent" location="bottom">{{
              item.descript
            }}</v-tooltip>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.status }}</td>
          <td class="pa-5 justify-end">
            <v-btn
              class="edit-btn"
              variant="tonal"
              size="x-small"
              color="orange darken-4"
              :icon="mdiPencil"
              @click="editMenu(item)"
            ></v-btn>
            <v-btn
              size="x-small"
              variant="tonal"
              color="error"
              :icon="mdiDelete"
              @click="deleteMenu(item)"
            ></v-btn>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr height="400px">
          <td colspan="9" class="text-center font-weight-bold text-h4">
            No menus found
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

.card-frame {
  padding: 10px;
  height: max-content;
}

.edit-btn {
  margin-right: 10px;
}

.add-btn {
  width: 120px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}

.search-field {
  width: 250px;
}
</style>
