<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { ref } from "vue";

const menuStore = useMenuStore();

const close = () => {
  menuStore.deleteMenuDialog = false;
  menuStore.resetEditedMenu();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="menuStore.deleteMenuDialog"
      persistent
      max-width="500px"
      width="600"
    >
      <v-card>
        <v-card-title primary-title> Confirm for delete menu </v-card-title>
        <v-card-text>Are you sure to delete this menu ?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" class="font-weight-bold ma-1" @click="close()">
            No
          </v-btn>
          <v-btn
            color="green"
            class="font-weight-bold ma-1"
            @click="menuStore.deleteMenu"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style></style>
