<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const menuStore = useMenuStore();
const form = ref<VForm | null>(null);

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    menuStore.saveMenu();
  }
};
const clear = () => {
  menuStore.deleteMenuDialog = false;
  menuStore.resetEditedMenu();
};
</script>

<template>
  <v-container grid-list-xs>
    <v-row justify="center">
      <v-dialog
        v-model="menuStore.deleteMenuDialog"
        persistent
        :overlay="false"
        max-width="500px"
        transition="dialog-transition"
      >
      </v-dialog>
      <v-card>
        <v-card-title primary-title> Edit Menu </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container grid-list-xs> </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>

<style scoped></style>
