<script setup lang="ts">
import { useMenuQueueStore } from "@/stores/menuQueue.js";
import { mdiCheckboxMarkedCircle, mdiCancel } from "@mdi/js";
const menuQueueStore = useMenuQueueStore();

const close = () => {
  menuQueueStore.showDialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="menuQueueStore.showDialog"
      persistent
      max-width="1000"
      width="max-content"
    >
      <v-card>
        <v-card-title
          v-if="menuQueueStore.action == 'deny'"
          class="text-h5 font-weight-bold"
        >
          Deny Queue
        </v-card-title>
        <v-card-title v-else class="text-h5 font-weight-bold">
          Accept Queue
        </v-card-title>
        <v-card-text class="font-weight-bold"
          >Are you sure to {{ menuQueueStore.action }} this queue ?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            variant="tonal"
            :prepend-icon="mdiCancel"
            color="red"
            class="font-weight-bold ma-1"
            @click="close()"
          >
            No
          </v-btn>
          <v-btn
            variant="tonal"
            :prepend-icon="mdiCheckboxMarkedCircle"
            color="green"
            class="font-weight-bold ma-1"
            @click="
              menuQueueStore.action == 'accept'
                ? menuQueueStore.acceptQueue(menuQueueStore.selectedId)
                : menuQueueStore.denyQueue(menuQueueStore.selectedId),
                (menuQueueStore.showDialog = false)
            "
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.v-card-title {
  background-color: rgb(191, 191, 191);
}
</style>
