<script setup lang="ts">
import QueueList from "../DemoFood/QueueList.vue";
import QueueDialog from "./QueueDialog.vue";
</script>

<template>
  <QueueList></QueueList>
  <QueueDialog></QueueDialog>
</template>

<style scoped></style>
