<script setup lang="ts">
import { useMenuQueueStore } from "@/stores/menuQueue";
import { ref, onMounted, computed, onUnmounted } from "vue";
import { mdiFood, mdiMagnify } from "@mdi/js";

const menuQueueStore = useMenuQueueStore();
const searchValue = ref("");

const openDialog = (id: number, act: string) => {
  menuQueueStore.showDialog = true;
  menuQueueStore.selectedId = id;
  menuQueueStore.action = act;
};

let sortedMenuQueues = computed(() => {
  if (searchValue.value.length > 0) {
    return menuQueueStore.menuQueues.filter(
      (item) =>
        !item.menuStatus?.includes("Cancel") &&
        !item.menuStatus?.includes("Ready to serve") &&
        !item.menuStatus?.includes("Served") &&
        (item.id!.toString().includes(searchValue.value.trim()) ||
          item.menu?.name.includes(searchValue.value.trim()) ||
          item.createAt?.toString().includes(searchValue.value.trim()) ||
          item.menuStatus
            ?.toLocaleLowerCase()
            .includes(searchValue.value.trim().toLocaleLowerCase()))
    );
  }

  return menuQueueStore.menuQueues.filter(
    (item) =>
      !item.menuStatus?.includes("Cancel") &&
      !item.menuStatus?.includes("Ready to serve") &&
      !item.menuStatus?.includes("Served")
  );
});
const timerId = ref<number>();
onMounted(async () => {
  await menuQueueStore.getMenuQueue();
  timerId.value = setInterval(async () => {
    await menuQueueStore.reloadmenuQueue();
    console.log("reload data");
  }, 2000);
});
onUnmounted(() => {
  if (timerId.value) {
    clearInterval(timerId.value);
  }
});
</script>

<template>
  <v-container class="ma-6">
    <v-row
      ><v-icon :icon="mdiFood" size="x-large" class="mr-6 mt-2 ml-3"></v-icon>
      <h1>Food Queue</h1></v-row
    >
  </v-container>
  <v-card class="card-frame" height="594px">
    <v-row align="center" no-gutters>
      <v-col cols="9"></v-col>
      <v-col cols="3">
        <v-text-field
          v-model="searchValue"
          class="text-end search-field"
          density="compact"
          variant="solo"
          label="Search"
          :append-inner-icon="mdiMagnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-table class="table" fixed-header height="500" hover>
      <thead>
        <tr>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Order No.
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Menu
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Date Time
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Order Status
          </th>
        </tr>
      </thead>

      <tbody v-if="sortedMenuQueues.length">
        <tr v-for="item of sortedMenuQueues" :key="item.id" class="text-center">
          <td>
            {{ item.id }}
          </td>
          <td>
            {{ item.menu?.name }}
          </td>
          <td>
            {{ item.createAt }}
          </td>
          <td class="pa-5 justify-end">
            <v-btn
              class="ma-3"
              id="edit-btn"
              size="x-large"
              color="red"
              variant="outlined"
              style="width: 30%"
              v-show="item.menuStatus === 'In process'"
              @click="openDialog(item.id, 'deny')"
            >
              Deny</v-btn
            >
            <v-btn
              class="ma-3"
              id="edit-btn"
              size="x-large"
              color="green"
              variant="outlined"
              style="width: 30%"
              v-show="item.menuStatus === 'In process'"
              @click="openDialog(item.id, 'accept')"
            >
              Accept</v-btn
            >
            <v-btn
              class="ma-3"
              id="edit-btn"
              size="x-large"
              color="green"
              variant="outlined"
              v-show="item.menuStatus == 'Kitchen'"
              @click="menuQueueStore.finishQueue(item.id)"
              style="width: 64%"
            >
              Finish
            </v-btn>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr height="400px">
          <td colspan="4" class="text-center font-weight-bold text-h4">
            No food queues found
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

.card-frame {
  padding: 10px;
  height: max-content;
}
.edit-btn {
  margin-right: 10px;
}
.text-end,
search-field {
  width: 120px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}
.search-field {
  width: 250px;
}
</style>
