<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const authStore = useAuthStore();
const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    await authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-app>
    <v-row>
      <v-col>
        <v-img
          max-height="754px"
          aspect-ratio="16/9"
          cover
          src="https://img.freepik.com/free-photo/abstract-blur-defocused-restaurant-coffee-shop-cafe-interior_1203-9267.jpg"
        >
          <v-row class="d-flex align-center pa-16">
            <v-col cols="6" class="d-flex align-center pa-16">
              <v-main
                height="100vh"
                max-width="200px"
                style="opacity: 0.9"
                class="d-flex align-center pa-5"
              >
                <v-spacer></v-spacer>
                <v-card
                  width="600px"
                  height="400px"
                  class="mx-auto text-center"
                >
                  <v-spacer></v-spacer>
                  <v-card-title
                    primary-title
                    class="text-center text-h6 font-weight-bold mt-10"
                  >
                    <h1>Login</h1>
                  </v-card-title>
                  <v-spacer></v-spacer>
                  <v-card-text class="my-4">
                    <v-form ref="form" v-model="valid">
                      <v-text-field
                        label="Username"
                        v-model="loginName"
                        :rules="[(v) => !!v || 'Username is required']"
                        required
                        class="my-4"
                        @keyup.enter="login"
                      ></v-text-field>
                      <v-spacer></v-spacer>
                      <v-text-field
                        label="Password"
                        type="password"
                        v-model="password"
                        :rules="[(v) => !!v || 'Password is required']"
                        required
                        class="my-4"
                        @keyup.enter="login"
                      ></v-text-field>
                      <v-spacer></v-spacer>
                    </v-form>
                    <v-spacer></v-spacer>
                  </v-card-text>
                  <v-card-actions class="justify-center my-4">
                    <v-btn color="success" @click="login">Login</v-btn>
                    <v-btn color="error" @click="reset">Clear</v-btn>
                  </v-card-actions>
                </v-card>
              </v-main>
            </v-col>
            <v-col col="6" class="text-center ml-10">
              <v-img
                class="animated-image ml-10"
                :width="520"
                :height="520"
                src="/public/Logo.png"
              ></v-img
            ></v-col>
          </v-row>
        </v-img>
      </v-col>
    </v-row>
  </v-app>
</template>

<style scoped>
.animated-image-container {
  position: relative;
}

.animated-image {
  position: relative;
  animation: up-down 2s ease-in-out infinite;
}

@keyframes up-down {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
</style>
