<script setup lang="ts">
import { useOrdersStore } from "@/stores/orders";
import { ref } from "vue";

const ordersStore = useOrdersStore();

const orderDel = (id: number): void => {
  ordersStore.deleteOrder();
};

const close = () => {
  ordersStore.showDeleteDialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="ordersStore.showDeleteDialog"
      persistent
      max-width="500px"
      width="600"
    >
      <v-card>
        <v-card-title primary-title> Confirm for delete order </v-card-title>
        <v-card-text>Are you sure to delete this item ?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" class="font-weight-bold ma-1" @click="close()">
            No
          </v-btn>
          <v-btn color="green" class="font-weight-bold ma-1" @click="orderDel">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style></style>
