<script setup lang="ts">
import { ref, onMounted, computed } from "vue";
import { useOrdersStore } from "@/stores/orders";
import { mdiMagnify, mdiDelete, mdiReceiptTextCheck } from "@mdi/js";
import DeleteOrderDialog from "@/views/DemoOrder/DeleteOrderDialog.vue";
import type Orders from "@/types/Orders";
const searchValue = ref("");
const ordersStore = useOrdersStore();

onMounted(async () => {
  await ordersStore.getOrders();
});

const sortedOrders = computed(() => {
  if (searchValue.value.length > 0) {
    return ordersStore.orders.filter(
      (item) =>
        item.dateTime?.toString().includes(searchValue.value.trim()) ||
        item.storeName?.includes(searchValue.value.trim()) ||
        item.status?.includes(searchValue.value.trim()) ||
        item.subTotal?.toString().includes(searchValue.value.trim()) ||
        item.total?.toString().includes(searchValue.value.trim()) ||
        item.paymentType?.includes(searchValue.value.trim()) ||
        item.cash?.toString().includes(searchValue.value.trim()) ||
        item.change?.toString().includes(searchValue.value.trim()) ||
        item.table?.id!.toString().includes(searchValue.value.trim()) ||
        item.id!.toString().includes(searchValue.value.trim()) ||
        item.employee?.name.includes(searchValue.value.trim()) ||
        item.tax?.toString().includes(searchValue.value.trim())
    );
  }
  return ordersStore.orders;
});

const deleteOrder = (item: Orders) => {
  ordersStore.showDeleteDialog = true;
  ordersStore.editedOrder = JSON.parse(JSON.stringify(item));
};
</script>

<template>
  <DeleteOrderDialog></DeleteOrderDialog>
  <v-container class="ma-6">
    <v-row
      ><v-icon
        :icon="mdiReceiptTextCheck"
        size="x-large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Order Management</h1></v-row
    >
  </v-container>

  <v-card class="card-frame" height="594px">
    <v-row align="center" no-gutters>
      <v-col cols="9"></v-col>
      <v-col cols="3">
        <v-text-field
          v-model="searchValue"
          class="text-end search-field"
          density="compact"
          variant="solo"
          label="Search"
          :append-inner-icon="mdiMagnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-table class="table" fixed-header height="500" hover>
      <thead>
        <tr>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Order ID
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Date
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Store Name
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Status
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Tax
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Sub Total
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Total
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Payment Type
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Cash
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Change
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Table ID
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Employee Name
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          ></th>
        </tr>
      </thead>
      <tbody v-if="sortedOrders.length">
        <tr v-for="item of sortedOrders" :key="item.id" class="text-center">
          <td>{{ item.id }}</td>
          <td>{{ item.dateTime }}</td>
          <td>{{ item.storeName }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.tax }}</td>
          <td>{{ item.subTotal }}</td>
          <td>{{ item.total }}</td>
          <td>{{ item.paymentType }}</td>
          <td>{{ item.cash }}</td>
          <td>{{ item.change }}</td>
          <td>{{ item.table?.id }}</td>
          <td>{{ item.employee?.name }}</td>
          <td class="pa-5 justify-end">
            <v-btn
              size="x-small"
              variant="tonal"
              color="error"
              :icon="mdiDelete"
              @click="deleteOrder(item)"
            ></v-btn>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr height="400px">
          <td colspan="13" class="text-center font-weight-bold text-h4">
            No orders found
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

.card-frame {
  padding: 10px;
  height: max-content;
}
.edit-btn {
  margin-right: 10px;
}
.text-end,
search-field {
  width: 120px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}
.search-field {
  width: 250px;
}
</style>
