<script setup lang="ts">
import { mdiTableChair } from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row>
      <v-icon
        :icon="mdiTableChair"
        size="large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Change Table Status</h1>
    </v-row>
  </v-container>

  <v-container>
    <v-card align="center">
      <v-img
        lazy-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ZUszhY2XSctjjNxNBUIcoGJZeBPu20kZUYWXJHetzYzNT7YJxI79BBcGQYJ4QrkdKUk&usqp=CAU"
        max-height="150"
        max-width="250"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ZUszhY2XSctjjNxNBUIcoGJZeBPu20kZUYWXJHetzYzNT7YJxI79BBcGQYJ4QrkdKUk&usqp=CAU"
      ></v-img>
      <v-card-title> จำนวนที่นั่ง : 2 ที่นัง</v-card-title>
      <v-row justify="center" align="center">
        <v-col cols="2">
          <h2>สถานะโต๊ะ</h2>
        </v-col>
        <v-col cols="2">
          <v-radio-group class="d-flex justify-centers">
            <v-radio label="ว่าง" value="1"></v-radio>
            <v-radio label="ไม่ว่าง" value="2"></v-radio>
            <v-radio label="กำลังทำความสะอาด" value="3"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>
