<script lang="ts" setup>
import { ref } from "vue";
import { useTableStore } from "@/stores/table";
import type { VForm } from "vuetify/components";
const tableStore = useTableStore();

const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    tableStore.saveTable();
  }
};

const clear = () => {
  tableStore.resetEditedTable();
  tableStore.editTableDialog = false;
};
</script>
<template>
  <v-row justify="center">
    <v-dialog
      v-model="tableStore.editTableDialog"
      scrollable
      persistent
      :overlay="false"
      max-width="900px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title v-if="tableStore.editedTable.id" class="pa-10">
          <h1>Edit Table</h1>
        </v-card-title>
        <v-card-title v-else class="pa-10">
          <h1>Add Table</h1>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Max seat*"
                    v-model.number="tableStore.editedTable.maxSeat"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="QR Code source*"
                    persistent-hint
                    v-model="tableStore.editedTable.qrCodeSource"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" variant="text" @click="clear"> Close </v-btn>
          <v-btn color="green" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
