<script setup lang="ts">
import { useTableStore } from "@/stores/table";

const tableStore = useTableStore();
const closeDialog = () => {
  tableStore.deleteTableDialog = false;
  tableStore.resetEditedTable();
};
</script>

<template>
  <v-dialog v-model="tableStore.deleteTableDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Confirm for delete table </v-card-title>
      <v-card-text>Are you sure to delete this table ?</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" variant="text" @click="closeDialog()"> No </v-btn>
        <v-btn color="green" variant="text" @click="tableStore.deleteTable">
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style></style>
