<script setup lang="ts">
import TableManagementList from "./TableManagementList.vue";
import TableManagementList2 from "./TableManagementList2.vue";
import TableDeleteDialog from "./TableDeleteDialog.vue";
import TableDialog from "./TableDialog.vue";
</script>
<template>
  <!-- <TableManagementList /> -->
  <TableManagementList2 />
  <TableDeleteDialog />
  <TableDialog />
</template>
<style scoped></style>
