<script setup lang="ts">
import { ref, computed, onMounted } from "vue";
import { useTableStore } from "@/stores/table";
import {
  mdiPlus,
  mdiMagnify,
  mdiPencil,
  mdiDelete,
  mdiTableChair,
} from "@mdi/js";
import type Table from "@/types/Table";
const searchValue = ref("");
const selectType = ref("All");
const tableStore = useTableStore();

onMounted(async () => {
  await tableStore.getTables();
});

const sortedTables = computed(() => {
  if (searchValue.value.trim().length > 0) {
    return tableStore.tables.filter(
      (item) =>
        item.id!.toString().includes(searchValue.value.trim()) ||
        item.maxSeat.toString().includes(searchValue.value.trim()) ||
        item.status.includes(searchValue.value.trim()) ||
        item.qrCodeSource.toString().includes(searchValue.value.trim())
    );
  }
  return tableStore.tables;
});

const deleteTable = (item: Table) => {
  tableStore.deleteTableDialog = true;
  tableStore.editedTable = JSON.parse(JSON.stringify(item));
};

const editTable = (item: Table) => {
  tableStore.editTableDialog = true;
  tableStore.editedTable = JSON.parse(JSON.stringify(item));
};
</script>

<template>
  <v-container class="ma-6">
    <v-row
      ><v-icon
        :icon="mdiTableChair"
        size="x-large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Table Management</h1></v-row
    >
  </v-container>
  <v-card class="card-frame" height="594px">
    <v-row class="card-row" align="center" no-gutters>
      <v-col cols="9">
        <v-sheet>
          <v-btn
            class="add-btn"
            color="green"
            :prepend-icon="mdiPlus"
            @click="tableStore.editTableDialog = true"
            >Add</v-btn
          >
        </v-sheet>
      </v-col>
      <v-col cols="3">
        <v-text-field
          v-model="searchValue"
          class="text-end search-field"
          :items="['Active', 'Non Active']"
          density="compact"
          variant="solo"
          label="Search Table"
          :append-inner-icon="mdiMagnify"
          single-line
          hide-details
          hide-no-data
        ></v-text-field>
      </v-col>
      <!-- <v-col cols="3">
        <v-select
          v-model="selectType"
          class="search-field"
          density="compact"
          variant="solo"
          label="Select"
          :items="['Active', 'Non Active']"
          single-line
          hide-details
        ></v-select>
      </v-col> -->
    </v-row>
    <v-divider></v-divider>
    <v-table fixed-header height="500" hover>
      <thead>
        <tr>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Table ID
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Max Seat
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Current status
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            QR Code
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          ></th>
        </tr>
      </thead>
      <tbody v-if="sortedTables.length">
        <tr v-for="item of sortedTables" :key="item.id" class="text-center">
          <td>{{ item.id }}</td>
          <td>{{ item.maxSeat }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.qrCodeSource }}</td>
          <td class="pa-5 justify-end">
            <v-btn
              class="edit-btn"
              variant="tonal"
              size="x-small"
              color="orange darken-4"
              :icon="mdiPencil"
              @click="editTable(item)"
            ></v-btn>
            <v-btn
              class="del-btn"
              size="x-small"
              variant="tonal"
              color="error"
              :icon="mdiDelete"
              @click="deleteTable(item)"
            ></v-btn>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr height="400px">
          <td colspan="4" class="text-center font-weight-bold text-h4">
            No tables found
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

.card-frame {
  padding: 10px;
  height: max-content;
}
.edit-btn,
.del-btn,
.update-btn {
  margin-right: 10px;
}
.add-btn {
  width: 135px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}
.search-field {
  width: 250px;
}
</style>
