<script setup lang="ts">
import { mdiTableChair } from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row>
      <v-icon
        :icon="mdiTableChair"
        size="large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Table Management</h1>
    </v-row>
    <br />
    <br />
    <br />

    <v-card align="center">
      <v-img
        lazy-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ZUszhY2XSctjjNxNBUIcoGJZeBPu20kZUYWXJHetzYzNT7YJxI79BBcGQYJ4QrkdKUk&usqp=CAU"
        max-height="150"
        max-width="250"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ZUszhY2XSctjjNxNBUIcoGJZeBPu20kZUYWXJHetzYzNT7YJxI79BBcGQYJ4QrkdKUk&usqp=CAU"
      ></v-img>
      <v-card-title> จำนวนที่นั่ง : 2 ที่นัง</v-card-title>
      <v-card-title> สถานะโต๊ะ : ว่าง</v-card-title>
    </v-card>
    <br />
    <br />
    <v-row justify="center" align="center">
      <v-col cols="3">
        <v-btn class="btn1" color="primary">Reserve a table</v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn class="btn2" color="primary" to="/ChangeTableStatusList"
          >Change Table State</v-btn
        >
      </v-col>
      <v-col cols="3">
        <v-btn class="btn3" color="primary">QR Code</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
