<script setup lang="ts">
import { useOrdersStore } from "@/stores/orders";
import { useShowOrderStore } from "@/stores/showOrder";
import { useThemeStore } from "@/stores/theme";
import type Orders from "@/types/Orders";
import type OrderItems from "@/types/OrderItems";
import type ShowOrder from "@/types/ShowOrder";
import { mdiMagnify } from "@mdi/js";
import { computed, onMounted, onUnmounted, ref } from "vue";

const orderStore = useOrdersStore();
const menuStore = useShowOrderStore();
const themeStore = useThemeStore();
// const orderItem = ref<ShowOrder[]>([]);
let orderItems = ref<OrderItems[]>([]);
let crrOrder = ref<Orders>();
// const test = ref<OrderItems>
const alreadyAdd = ref(false);
function addToPayList(items: Orders) {
  if (!alreadyAdd.value) {
    if (items) {
      crrOrder.value = items;
    }
    if (items.orderItems) {
      orderItems.value = items.orderItems;
      alreadyAdd.value = true;
      isShow.value = true;
    }
  }
}
function confirmPay(order: Orders | undefined, paymentType: string) {
  if (order) {
    if (order.id) {
      orderStore.updateOrderPay(order.id, paymentType);
    }
  }
}

const clear = () => {
  orderItems.value = [];
  alreadyAdd.value = false;
  isShow.value = false;
  crrOrder.value = {};
};

// Serach and Select
const searchQuery = ref("");
const showDialog = ref(false);
console.log(orderStore.orders);

let listOrder = computed(() => {
  return orderStore.orders.filter((item) =>
    item.status?.includes("Wait for payment")
  );
});

console.log(listOrder);
const timerId = ref<number>();

onMounted(async () => {
  await orderStore.getOrders();
  console.log(orderStore.orders);
  console.log(listOrder.value);
  timerId.value = setInterval(async () => {
    await orderStore.reloadOrders();
    console.log("reload data");
  }, 1500);
});
onUnmounted(() => {
  if (timerId.value) {
    clearInterval(timerId.value);
  }
});
let isShow = ref(false);
</script>
<template>
  <v-container class="ml-20 mt-4" :theme="themeStore.theme">
    <v-row justify-center>
      <v-col cols="8"
        ><v-row cols="4"
          ><v-col align-end cols="4">
            <v-text-field
              v-model="searchQuery"
              class="text-end search-field"
              density="compact"
              variant="solo"
              label="Search"
              :append-inner-icon="mdiMagnify"
              single-line
              hide-details
            ></v-text-field
          ></v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-card height="600px">
              <v-card-title
                class="headline font-weight-bold"
                style="font-size: 24px"
              >
                Order List
              </v-card-title>
              <v-card height="600px" class="overflow-auto">
                <v-container fluid>
                  <v-row v-for="item of listOrder" :key="item.id">
                    <v-card
                      class="mx-auto"
                      width="600"
                      height="150"
                      style="margin-bottom: 20px"
                      :elevation="item.hover ? 10 : 2"
                      @mouseover="item.hover = true"
                      @mouseleave="item.hover = false"
                    >
                      <v-card-title
                        class="headline font-weight-bold"
                        style="font-size: 20px"
                      >
                        T{{ item.table?.id }}
                      </v-card-title>

                      <v-card-text class="text-center" style="font-size: 15px">
                        <span>
                          total quantity:
                          {{
                            item.orderItems?.reduce((acc, item) => {
                              return acc + (item.quantity ?? 0);
                            }, 0)
                          }}
                        </span>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          class="ml-6"
                          color="secondary"
                          dark
                          @click="addToPayList(item)"
                        >
                          Charge
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-row>
                </v-container>
              </v-card>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-card height="666px" width="370px">
          <v-card-title>รายละเอียดรายการ: </v-card-title>
          <v-card class="mx-auto" width="350" height="300">
            <div style="font-weight: bold"></div>
            <v-table fixed-header height="300" show-select hover>
              <thead>
                <tr>
                  <th
                    class="text-center text-subtitle-1"
                    style="background-color: darkgray"
                  >
                    Order
                  </th>
                  <th
                    class="text-center text-subtitle-1"
                    style="background-color: darkgray"
                  >
                    QTY.
                  </th>
                  <th
                    class="text-center text-subtitle-1"
                    style="background-color: darkgray"
                  >
                    Price
                  </th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr v-for="(orderItem, index) of orderItems" :key="index">
                  <td>
                    {{ orderItem.menu?.name }}
                  </td>
                  <td>
                    {{ orderItem.quantity }}
                  </td>
                  <td>
                    {{ orderItem.total }}
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
          <v-card class="mx-auto mt-3 pa-3" width="350" height="200">
            <v-card-title
              class="headline font-weight-bold text-center"
              style="font-size: 24px; margin-bottom: 16px"
              >รายการชำระเงิน</v-card-title
            >
            <v-card-text style="font-size: 15px; line-height: 1.5">
              <strong
                >Table:
                {{ crrOrder?.table?.id }}
              </strong>
              <br />
              <strong>จำนวนออเดอร์:</strong>
              {{
                crrOrder?.orderItems?.reduce((acc, item) => {
                  return acc + (item.quantity ?? 0);
                }, 0)
              }}<br />
              <strong>จำนวนเงิน(ไม่รวมภาษี):</strong> {{ crrOrder?.subTotal }}
              <br />
              <strong>จำนวนเงิน(รวมภาษี):</strong> {{ crrOrder?.total }}
            </v-card-text>
          </v-card>
          <v-container class="d-flex align-center justify-center">
            <v-btn
              color="red"
              class="font-weight-bold ma-1"
              @click="clear"
              :disabled="!isShow"
            >
              ล้างรายการ
            </v-btn>
            <v-btn
              class="ma-3"
              color="success"
              size="large"
              @click="showDialog = true"
              :disabled="!isShow"
            >
              <v-dialog persistent max-width="500px" v-model="showDialog">
                <v-card>
                  <v-card-title class="text-h6 font-weight-bold justify-center">
                    ยืนยันการชำระเงิน
                  </v-card-title>
                  <v-card-actions class="justify-end">
                    <v-btn
                      color="red"
                      @click="showDialog = false"
                      variant="tonal"
                      >NO</v-btn
                    >
                    <v-btn
                      color="green"
                      @click="
                        confirmPay(crrOrder, 'cash');
                        showDialog = false;
                        clear();
                      "
                      variant="tonal"
                      >YES</v-btn
                    >
                  </v-card-actions>
                </v-card> </v-dialog
              >ชำระเงิน</v-btn
            >
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script scope></script>
