<script setup lang="ts">
import { mdiWeatherSunny, mdiWeatherRainy } from "@mdi/js";
import { ref } from "vue";
import { useAuthStore } from "@/stores/auth";
import { useThemeStore } from "@/stores/theme";
const authStore = useAuthStore();
const themeStore = useThemeStore();
const theme = ref("light");

const logout = () => {
  authStore.logout();
};
</script>
<template>
  <v-app-bar :theme="themeStore.theme">
    <v-container grid-list-xs>
      <v-img
        :width="198"
        height="30"
        aspect-ratio="16/9"
        cover
        src="/public/OOADFood.png"
      ></v-img>
    </v-container>

    <v-btn @click="logout">Logout</v-btn>
  </v-app-bar>
</template>
