<script setup lang="ts">
import { useCartStore } from "@/stores/cart";
import { useMenuStore } from "@/stores/menu";
import type Menu from "@/types/Menu";
import { useRoute, useRouter } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherRainy,
  mdiCart,
  mdiClose,
  mdiPlus,
  mdiMinus,
  mdiDeleteOutline,
  mdiArrowLeft,
  mdiCheck,
  mdiClockTimeFourOutline,
  mdiMinusCircleOutline,
} from "@mdi/js";
import { ref } from "vue";

const route = useRoute();
const cartStore = useCartStore();

const theme = ref("light");

const scroll = (name: string) => {
  const element = document.getElementById(name);
  element?.scrollIntoView({ behavior: "smooth" });
};

const watingDialog = () => {
  cartStore.watingDialog = true;
};
const orderingDialog = () => {
  cartStore.orderingDialog = true;
};
</script>
<template>
  <v-app-bar :theme="theme">
    <v-container class="ml-10">
      <v-img
        :width="198"
        height="30"
        aspect-ratio="16/9"
        cover
        src="/public/OOADFood.png"
      ></v-img>
    </v-container>
    <v-btn
      color="success"
      @click="scroll('home')"
      :to="`/mainMenu/${route.params.tableId}/${route.params.employeeId}`"
      ><p style="font-family: 'M PLUS 1', sans-serif">Home</p></v-btn
    >
    <v-btn color="success" @click="scroll('item')"
      ><p style="font-family: 'M PLUS 1', sans-serif">Hot Item</p></v-btn
    >
    <v-btn color="success" @click="scroll('about')"
      ><p style="font-family: 'M PLUS 1', sans-serif">About us</p></v-btn
    >
    <v-badge
      class="mr-10"
      size="small"
      :content="cartStore.totalQty"
      color="error"
      ><v-btn
        size="small"
        :icon="mdiCart"
        color="success"
        @click="cartStore.orderingDialog = true"
      ></v-btn>
    </v-badge>
  </v-app-bar>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (min-width: 900px) {
  .dialog-cart {
    left: 1100px;

    /* margin-left: 300px; */
  }
}
</style>
