<script lang="ts" setup>
import router from "@/router";
import { useMessageStore } from "@/stores/message";

const messageStore = useMessageStore();

const login = () => {
  messageStore.isShow = false;
  router.replace("/login");
};
</script>
<!-- <template>
  <v-snackbar v-model="messageStore.isShow" vertical>
    <p>{{ messageStore.message }}</p>
    <div class="text-subtitle-1 pb-2">{{ messageStore.exceptionMessage }}</div>
    <template v-slot:actions>
      <v-btn color="red" variant="text" @click="messageStore.isShow = false">
        Close
      </v-btn>
    </template> -->
<template>
  <div class="text-center">
    <v-dialog v-model="messageStore.isShow" width="auto" persistent>
      <v-card>
        <v-card-text class="text-h5 font-weight-bold">
          {{ messageStore.message }}
        </v-card-text>
        <v-card-text>
          {{ messageStore.eMessage }}
        </v-card-text>
        <v-card-actions>
          <v-btn
            v-if="messageStore.statusCode != 401"
            color="red"
            variant="flat"
            block
            @click="messageStore.isShow = false"
            >Close</v-btn
          >
          <v-btn v-else color="red" variant="flat" block @click="login()"
            >Back To Login</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<!-- </v-snackbar>
</template> -->
