<script setup lang="ts">
import { useOverlayLoaderStore } from "@/stores/overlayLoader";

const overlayLoaderStore = useOverlayLoaderStore();
</script>

<template>
  <v-overlay
    :model-value="overlayLoaderStore.overlayLoader"
    class="align-center justify-center"
  >
    <v-progress-circular
      color="primary"
      indeterminate
      size="64"
    ></v-progress-circular>
  </v-overlay>
</template>
