<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { useTableStore } from "@/stores/table";
import QrcodeVue from "qrcode.vue";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const authStore = useAuthStore();
const tableStore = useTableStore();
// const form = ref<VForm | null>(null);
// const save = async () => {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     materialStore.saveMaterial();
//     materialStore.addDialog = false;
//   }
// };

const close = () => {
  tableStore.showOpenDialog = false;
  tableStore.resetEditedTable();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.showOpenDialog" max-width="500px">
      <!-- <v-card>
        <v-card-text>
          <v-row>
            <v-col class="text-left" cols="12">
              <text class="my-2">Table : {{ tableStore.editedTable.id }}</text>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="text-left" cols="12">
              <text class="my-4"
                >Status : {{ tableStore.editedTable.status }}
              </text>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="text-left" cols="12">
              <text class="my-4"
                >URL : {{ tableStore.editedTable.qrCodeSource }}
              </text>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text>
          <v-card height="200" class="text-center">
            <v-container grid-list-xs>
              <qrcode-vue
                :value="tableStore.editedTable.qrCodeSource"
                :size="170"
                level="H"
              ></qrcode-vue>
            </v-container>
          </v-card>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="close">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text"> Save </v-btn>
        </v-card-actions>
      </v-card> -->

      <v-card width="500" class="text-center">
        <v-card-text>
          <v-card height="200" class="text-center">
            <v-container grid-list-xs>
              <qrcode-vue
                :value="`${tableStore.editedTable.qrCodeSource}/${authStore.loggedInEmployee.id}`"
                :size="170"
                level="H"
              ></qrcode-vue>
            </v-container>
          </v-card>
        </v-card-text>

        <v-card-title>Table No. {{ tableStore.editedTable.id }}</v-card-title>

        <v-card-subtitle class="mb-2"
          >Max guests : {{ tableStore.editedTable.maxSeat }}</v-card-subtitle
        >

        <v-card-subtitle
          v-if="tableStore.editedTable.status == 'Available'"
          style="color: green"
          >{{ tableStore.editedTable.status }}</v-card-subtitle
        >

        <v-card-subtitle
          v-if="tableStore.editedTable.status == 'Serving'"
          style="color: orange"
          >{{ tableStore.editedTable.status }}</v-card-subtitle
        >

        <v-card-subtitle
          v-if="tableStore.editedTable.status == 'Waiting for cleaning'"
          style="color: yellow"
          >{{ tableStore.editedTable.status }}</v-card-subtitle
        >

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="blue-darken-1" variant="text" @click="close">
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="tableStore.saveTableByStatus('Serving')"
          >
            serve this table
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scope>
.text-size {
  font-size: 18px;
  font-weight: bolder;
}
</style>
