<script setup lang="ts">
import TableStatusList from "../DemoTableStatus/TableStatusList.vue";
import OpenTableDialog from "./OpenTableDialog.vue";
</script>

<template>
  <TableStatusList />
  <OpenTableDialog />
</template>

<style scoped></style>
