<script setup lang="ts">
import { useTableStore } from "@/stores/table";

const tableStore = useTableStore();
</script>

<template>
  <v-container>
    <v-dialog v-model="tableStore.showDialog" persistent max-width="500px">
      <v-card>
        <v-card-title class="headline font-weight-bold">
          {{
            tableStore.editedTable.status == "Available"
              ? "เปิดโต๊ะ "
              : "เก็บและทำความสะอาดโต๊ะ "
          }}
        </v-card-title>
        <v-card-text class="text-center">
          {{
            tableStore.editedTable.status == "Available"
              ? "ต้องการเปิดโต๊ะ"
              : "ต้องการเก็บและทำความสะอาดโต๊ะ"
          }}
          {{ tableStore.editedTable.id }} ใช่หรือไม่?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            variant="tonal"
            @click="tableStore.showDialog = false"
          >
            ไม่
          </v-btn>
          <v-btn
            color="green darken-1"
            variant="tonal"
            @click="tableStore.saveTable"
          >
            ใช่
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
