<script lang="ts" setup>
import { mdiTableChair } from "@mdi/js";
import { useTableStore } from "@/stores/table";
import { onMounted } from "vue";
import TableStatusDialog from "@/views/DemoTableStatus/TableStatusDialog.vue";
import type Table from "@/types/Table";

const tableStore = useTableStore();

const serve = (item: Table) => {
  tableStore.showOpenDialog = true;
  tableStore.editedTable = JSON.parse(JSON.stringify(item));
};

const cleaned = (item: Table) => {
  tableStore.editedTable = JSON.parse(JSON.stringify(item));
  tableStore.saveTableByStatus("Available");
};
onMounted(async () => {
  await tableStore.getTables();
});
</script>

<template>
  <TableStatusDialog></TableStatusDialog>
  <v-container>
    <v-row>
      <v-icon
        :icon="mdiTableChair"
        size="large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Table status</h1>
    </v-row>
  </v-container>
  <v-item-group>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="3"
          v-for="item in tableStore.tables"
          :key="item.id"
        >
          <v-item>
            <v-card class="mx-auto" max-width="400">
              <v-img
                src="https://hotelfurnitureconcept.com/wp-content/uploads/2021/03/restaurant-table-made-in-turkey-0-1.jpg"
                height="200px"
                cover
              ></v-img>

              <v-card-title>Table No. {{ item.id }}</v-card-title>

              <v-card-subtitle class="mb-2"
                >Max guests : {{ item.maxSeat }}</v-card-subtitle
              >

              <v-card-subtitle
                v-if="item.status == 'Available'"
                style="color: green"
                >{{ item.status }}</v-card-subtitle
              >

              <v-card-subtitle
                v-if="item.status == 'Serving'"
                style="color: crimson"
                >{{ item.status }}</v-card-subtitle
              >

              <v-card-subtitle
                v-if="item.status == 'Waiting for cleaning'"
                style="color: orange"
                >{{ item.status }}</v-card-subtitle
              >

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                  v-if="item.status == 'Available'"
                  variant="text"
                  color="black"
                  @click="serve(item)"
                  >Serve</v-btn
                >
                <v-btn
                  v-if="item.status == 'Waiting for cleaning'"
                  variant="text"
                  color="black"
                  @click="cleaned(item)"
                  >Cleaned</v-btn
                >
              </v-card-actions>

              <v-progress-linear
                :active="true"
                :indeterminate="false"
                absolute
                bottom
                style="color: crimson"
              ></v-progress-linear>
            </v-card>
            <!-- <v-card
              :color="
                item.status == 'Available'
                  ? '#00ff7f'
                  : item.status == 'Serving'
                  ? '#ff8000'
                  : item.status == 'Waiting for cleaning'
                  ? '#ffd000'
                  : ''
              "
              class="d-flex align-center"
              height="300"
            >
              <v-card-text>
                <v-row>
                  <v-col class="text-center" cols="12">
                    <h1>Table: {{ item.id }}</h1>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="text-center" cols="12">
                    <p class="my-4">Max guests: {{ item.maxSeat }}</p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="text-center" cols="12">
                    <p class="my-2">Status: {{ item.status }}</p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="text-center" cols="12">
                    <v-btn
                      v-if="item.status == 'Available'"
                      variant="tonal"
                      color="black"
                      @click="
                        (tableStore.showOpenDialog = true),
                          (tableStore.editedTable = item)
                      "
                      >เปิดโต๊ะ</v-btn
                    >
                    <v-btn
                      v-if="item.status == 'Waiting for cleaning'"
                      variant="tonal"
                      color="black"
                      class="ma-3"
                      >ทำความสะอาดแล้ว</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card> -->
          </v-item>
        </v-col>
      </v-row>
    </v-container>
  </v-item-group>
</template>

<style>
text {
  font-size: 50px;
  text-align: center;
}

p {
  font-size: 20px;
}
</style>
