<script lang="ts" setup>
import { useTableStore } from "@/stores/table";
const tableStore = useTableStore();
</script>

<template>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Max Seat</th>
        <th>Status</th>
        <th>qrCode Source</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Deleted At</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of tableStore.tables" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.maxSeat }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.qrCodeSource }}</td>
        <td>{{ item.createdAt }}</td>
        <td>{{ item.updatedAt }}</td>
        <td>{{ item.deletedAt }}</td>
      </tr>
    </tbody>
  </v-table>
</template>
