<script setup lang="ts">
import {
  mdiWeatherSunny,
  mdiWeatherRainy,
  // mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiAccount,
  mdiListBox,
  mdiMenu,
  mdiClipboardList,
  mdiCurrencyUsd,
  mdiSilverwareClean,
  mdiTableChair,
  mdiArchive,
  mdiReceiptTextCheck,
  mdiCashMultiple,
} from "@mdi/js";
import { onMounted, ref } from "vue";
import { useAuthStore } from "@/stores/auth";
import type Employee from "@/types/Employee";
import { useThemeStore } from "@/stores/theme";

const user = ref<Employee>({
  name: "",
  age: 0,
  role: "",
  surname: "",
  tel: "",
  username: "",
});

const authStore = useAuthStore();
const themeStore = useThemeStore();

const theme = ref("light");
function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
const logout = () => {
  authStore.logout();
};

onMounted(() => {
  const userData = localStorage.getItem("user");
  if (userData) {
    const tempUser = JSON.parse(userData);
    user.value.age = tempUser.age;
    user.value.name = tempUser.name;
    user.value.surname = tempUser.surname;
    user.value.tel = tempUser.tel;
    user.value.role = tempUser.role;
    user.value.username = tempUser.username;
  }
});
</script>

<template>
  <v-navigation-drawer expand-on-hover rail permanent :theme="themeStore.theme">
    <v-list>
      <v-list-item
        prepend-avatar="https://www.bgs.ac.uk/wp-content/uploads/2019/12/Default-staff-profile.jpg"
        :title="user.name + ' ' + user.surname"
        :subtitle="'@' + user.username"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <!-- <v-list-item
          :prepend-icon="mdiAccount"
          title="Users"
          value="users"
          to="/user"
        ></v-list-item> -->
      <v-list-item
        :prepend-icon="mdiAccountMultiple"
        title="Point Of Sell"
        value="pos"
        to="/pointOfSell"
      ></v-list-item>
      <v-list-group v-if="authStore.loggedInEmployee.role != 'พนักงาน'">
        <template v-slot:activator="{ props }">
          <v-list-item
            v-bind="props"
            :prepend-icon="mdiMenu"
            title="Management"
          ></v-list-item>
        </template>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="Employee"
          value="employee"
          to="/demoEmp"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiMenu"
          title="Menu"
          value="demoMenu"
          to="/demoMenu"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiTableChair"
          title="Table"
          value="TableManagement"
          to="/demoTable"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiArchive"
          title="Stock"
          value="StockeManagement"
          to="/demoStock"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiReceiptTextCheck"
          title="Order"
          value="OrderManagement"
          to="/demoOrder"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCashMultiple"
          title="Attendance"
          value="attendance"
          to="/demoAttendance"
        ></v-list-item>
      </v-list-group>

      <v-list-item
        :prepend-icon="mdiListBox"
        title="Food Queue"
        value="foodQueue"
        to="/demoFoodQueue"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiClipboardList"
        title="Serving"
        value="servingQueue"
        to="/demoServe"
      ></v-list-item>
      <!-- <v-list-item
        :prepend-icon="mdiSilverwareClean"
        title="Clear Table"
        value="clearTable"
        to="/demoClearTable"
      ></v-list-item> -->
      <v-list-item
        :prepend-icon="mdiTableChair"
        title="Table Status"
        value="tableStatus"
        to="/demoTableStatus"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
