<script setup lang="ts">
import MainMenu from "@/layouts/MainMenu.vue";
import MainView from "@/layouts/MainView.vue";
import FullScreen from "@/layouts/FullScreen.vue";
import OrderingDialog from "./views/Cutomer/OrderingDialog.vue";
import WaitingDialog from "./views/Cutomer/WaitingDialog.vue";
import MessageBox from "./components/MessageBox.vue";
import OverlayLoader from "./components/OverlayLoader.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import CancleDialog from "@/views/Cutomer/CancleDialog.vue";
import { onMounted, ref } from "vue";
import { useAuthStore } from "./stores/auth";

const authStore = useAuthStore();
onMounted(() => {
  if (!authStore.loggedInEmployee.id) {
    localStorage.removeItem("user");
    localStorage.removeItem("token");
  }
});
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainView' ? MainView : MainMenu"
  ></component>
  <MessageBox />
  <LoadingDialog />
  <OrderingDialog />
  <WaitingDialog />
  <OverlayLoader />
  <CancleDialog />
</template>

<style scoped></style>
