<script setup lang="ts">
import { useShowOrderStore } from "@/stores/showOrder";
import type ShowOrder from "@/types/ShowOrder";
import { mdiMagnify } from "@mdi/js";
import { computed, ref } from "vue";

const menuStore = useShowOrderStore();
const orderItem = ref<ShowOrder[]>([]);
const addMenu = (menu: ShowOrder) => {
  orderItem.value.push(menu);
};
const clear = (menu: ShowOrder) => {
  orderItem.value.slice();
};
const total = computed(() => {
  let sum = 0;
  for (const p of orderItem.value) {
    sum = sum + p.price;
  }
  return sum;
});

//QTY in order item
const count = ref(0);
function increment() {
  count.value++;
}
function decrement() {
  if (count.value > 0) {
    count.value--;
  }
}

// Serach and Select
const searchQuery = ref("");
const listMenu = computed(() => {
  if (searchQuery.value.trim().length > 0) {
    return menuStore.menu.filter((item) =>
      item.name.includes(searchQuery.value.trim())
    );
  }
  return menuStore.menu;
});
</script>
<template>
  <v-container class="ml-20 mt-4">
    <v-row justify-center>
      <v-col cols="8"
        ><v-row cols="4"
          ><v-col align-end cols="4">
            <v-text-field
              v-model="searchQuery"
              class="text-end search-field"
              density="compact"
              variant="solo"
              label="Search"
              :append-inner-icon="mdiMagnify"
              single-line
              hide-details
            ></v-text-field
          ></v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-card height="600px">
              <v-card height="552" class="overflow-auto">
                <v-container fluid>
                  <v-row v-for="item of listMenu" :key="item.id">
                    <v-card
                      class="mx-auto"
                      width="500"
                      height="150"
                      style="margin-bottom: 20px"
                    >
                      <v-card-title
                        class="headline font-weight-bold"
                        style="font-size: 24px"
                      >
                        {{ item.table }}
                      </v-card-title>

                      <v-card-text class="text-center">
                        <div class="text--primary">
                          {{ item.name }} จำนวน: {{ item.qty }} ราคา:
                          {{ item.price }}
                        </div>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          class="ml-6"
                          variant="tonal"
                          color="orange"
                          @click="addMenu(item)"
                        >
                          ADD
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-row>
                </v-container>
              </v-card>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-card height="666px" width="370px">
          <v-card-title>Table No. ?</v-card-title>
          <v-card class="mx-auto" width="350" height="300">
            <v-table fixed-header height="300" show-select hover>
              <thead>
                <tr>
                  <th
                    class="text-center text-subtitle-1"
                    style="background-color: darkgray"
                  >
                    Order
                  </th>
                  <th
                    class="text-center text-subtitle-1"
                    style="background-color: darkgray"
                  >
                    SIZE
                  </th>
                  <th
                    class="text-center text-subtitle-1"
                    style="background-color: darkgray"
                  >
                    QTY.
                  </th>
                  <th
                    class="text-center text-subtitle-1"
                    style="background-color: darkgray"
                  >
                    Price
                  </th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr v-for="(product, index) of orderItem" :key="index">
                  <td>{{ product.name }}</td>
                  <td>{{ product.setSize }}</td>
                  <td>{{ product.qty }}</td>
                  <td>{{ product.price }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
          <v-card class="mx-auto mt-3 pa-3" width="350" height="200">
            <v-card-title>Details </v-card-title>
            <v-card-subtit>Sub total {{ total }}</v-card-subtit
            ><br />
            <v-card-subtit>Tax</v-card-subtit>
          </v-card>
          <v-btn color="red" class="font-weight-bold ma-1" @click="clear">
            Clear
          </v-btn>
          <v-btn class="ma-3" color="success">Place order</v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script scope></script>
